{% if not appointments %}
<div class="flex flex-col gap-2 h-full min-h-[400px] justify-center items-center text-center text-black m-auto">
  <i class="fa-solid fa-folder-open text-gray-300 text-7xl"></i>
  <span class="px-4 py-2 w-fit bg-gray-300 rounded-lg text-sm">
    Aucun rendez-vous disponible
  </span>
</div>
{% else %}
<div
  class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3"
>
  {% for obj in appointments %}
  <!--  -->
  {% include 'base/components/appointments/grid_card.html' %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
