{% load static %}
<section class="p-3 lg:p-6 bg-amber-50 border border-amber-300 rounded-xl">
  <h3 class="mb-2 text-black text-lg">Rendez-vous en cours</h3>
  <div class="flex flex-col lg:flex-row-reverse lg:items-center gap-2">
    <i class="hidden lg:inline fa-solid fa-stopwatch text-9xl text-amber-200"></i>

    {% if not appointments %}
    <div
      class="my-8 w-full h-full rounded-xl flex-col text-center gap-2 m-auto"
    >
      <i class="fa-solid fa-folder-open text-3xl text-amber-200"></i>
      <p
        class="mx-auto px-4 py-2 w-fit rounded-md bg-amber-200 text-xs text-center"
      >
        Aucun rendez-vous en cours
      </p>
    </div>
    {% else %}
    <div class="w-full mb-4 grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      {% for obj in appointments %}
      <!--  -->
      {% include 'base/components/appointments/grid_card.html' %}
      <!--  -->
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
