<h3 class="mb-2 py-1 px-4 rounded-md text-sm bg-purple-100">
  Rendez-vous en cours
</h3>
{% if not appointments %}
<div
  class="bg-purple-50 p-10 rounded-lg flex flex-col justify-center items-center text-center m-auto"
>
  <i class="fa-solid fa-folder-open text-3xl text-purple-300"></i>
  <p class="mt-2 px-4 py-2 rounded-md bg-purple-100 text-xs text-center">
    Aucun rendez-vous en cours
  </p>
</div>
{% else %}
<div class="mb-4 grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
  {% for obj in appointments %}
  <!--  -->
  {% include 'base/components/appointment_card_cal.html' %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
