{% if not appointments %}
<div
  class="p-8 rounded-lg flex flex-col justify-center items-center gap-2 text-center m-auto"
>
  <i class="fa-solid fa-folder-open text-3xl text-gray-700"></i>
  <p class="text-sm">Aucun rendez-vous en attente</p>
</div>
{% else %}

<h3 class="mb-2 text-white text-lg">File d'attente des Rendez-vous</h3>
<div class="mb-4 grid md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4 cursor-pointer">
  {% for obj in appointments %}
  <div
    hx-get="{% url 'appointment_alt' obj.id %}"
    hx-target="#appointment_dialog"
    class="p-4 h-full border bg-white rounded-xl text-black text-sm flex flex-col justify-between gap-2 group transition duration-300 ease-in-out"
  >
    <h3 class="font-bold text-md">
      {% if obj.sex == 'male' %} M. {% else %} Mme. {% endif %}
      <!--  -->
      {{obj.last_name}} {{obj.first_name|truncatechars:12}}
    </h3>
    <div class="p-2 rounded-lg grid w-full gap-1 bg-purple-200 group-hover:shadow-lg group-hover:bg-amber-200 transition duration-300 ease-in-out">
      <small>{{obj.date}}</small>
      <h3 class="flex items-center gap-2 text-xl font-bold"><i class="fa-solid fa-clock"></i>{{obj.time}}</h3>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
