{% if not visits %}
<div
  class="p-20 bg-white w-full h-full rounded-xl flex-col text-center text-black m-auto"
>
  <i class="fa-solid fa-folder-open text-gray-300 text-7xl"></i>
  <p class="mt-2 p-2 rounded-lg bg-gray-50 text-md text-center">
    Aucune visite en attente
  </p>
</div>
{% else %}

<div class="grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2">
  {% for obj in visits %}
  <div
    hx-target="#visit_dialog"
    hx-get="{% url 'visit' obj.id %}"
    class="p-3 h-full border hover:border-purple-400 hover:shadow-md rounded-md cursor-pointer"
  >
    <h3 class="font-bold text-black text-md">{{obj.guest}}</h3>
    <small class="text-xs">{{obj.arrived_at}}</small>
    <p class="italic text-purple-500 text-sm">@{{obj.host.username}}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
