<!-- users table filter ------------------------------------------------------------->
<form
  id="user_filter"
  hx-post="{% url 'filter_users_table' %}"
  hx-target=".filtered_users_table"
  hx-trigger="submit"
  class="p-1 w-full bg-purple-100 border rounded-lg flex justify-between items-center gap-1 text-sm xl:text-sm"
>
  {% csrf_token %}
  <!--  -->
  <div class="w-full flex justify-between items-center gap-1">
    {% if user.role.sec_level >= 4 %}
    <select
      name="role"
      class="hidden lg:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
    >
      <option value="" selected>Rôle d'utilisateur</option>
      {% for obj in roles %}
      <option value="{{obj.id}}">{{obj.name}}</option>
      {% endfor %}
    </select>
    {% endif %}
    <!-- last_name -->
    <input
      class="px-3 py-2 w-full rounded-md"
      type="text"
      name="last_name"
      placeholder="Nom"
    />
    <!-- first_name -->
    <input
      class="px-3 py-2 w-full rounded-md"
      type="text"
      name="first_name"
      placeholder="Prenoms"
    />
    <!-- statuses -->
    <select
      name="status"
      class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
    >
      <option value="" selected>Status</option>
      {% for obj in user_statuses %}
      <option value="{{obj.id}}">{{obj.title}}</option>
      {% endfor %}
    </select>
    <!-- sex -->
    <select
      name="sex"
      class="hidden md:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit"
    >
      <option value="" selected>Sexe</option>
      <option value="female">Feminin</option>
      <option value="male">Masculin</option>
    </select>
    <!-- last login -->
    <!-- <input
      class="px-3 py-2 w-full rounded-md"
      type="date"
      name="last_login"
      placeholder="Derniere connexion"
    /> -->
  </div>

  <button
    class="px-3 py-2 bg-purple-200 hover:bg-purple-400 hover:text-black rounded-md transition duration-200 ease-in"
    type="submit"
  >
    <i class="fa-solid fa-filter"></i>
  </button>
  <button
    class="px-3 py-2 bg-red-200 hover:bg-red-400 hover:text-black rounded-md transition duration-200 ease-in"
    hx-on:click="clearUserFilter()"
    type="submit"
  >
    <i class="fa-solid fa-rotate-right"></i>
  </button>
</form>

<!-- users table ------------------------------------------------------------->
<div class="overflow-auto rounded-lg bg-gray-50">
  <table id="users_table" class="w-full text-left db-table">
    <thead class="bg-purple-950 border border-purple-950 text-white">
      <tr>
        <th class="hidden md:block p-4 text-sm">Nom d'utilisateur</th>
        <th class="p-4 text-sm">Nom</th>
        <th class="p-4 text-sm">Prenoms</th>
        <th class="p-4 text-sm">Email</th>
        <th class="p-4 text-sm">Telephone</th>
        <th class="p-4 text-sm">Role</th>
        <th class="p-4 text-sm">Status</th>
      </tr>
    </thead>

    <tbody
      class="filtered_users_table"
      hx-get="{% url 'users_table' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></tbody>
  </table>
</div>

<script>
  function clearUserFilter() {
    var user_filter = document.getElementById("user_filter");
    user_filter.reset();
  }
</script>
