<!--  -->
{% load get_day_one add_days by_day by_week by_year by_time from base_tags %}
<!--  -->
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid rgb(187, 187, 187);
    padding: 8px;
    text-align: center;
  }
  .highlight {
    background-color: amber;
  }
</style>

<div id="" class="rdv_calendar grid">
  <div
    class="px-4 py-2 border border-b-0 border-purple-300 bg-purple-200 rounded-t-lg text-black font-bold flex justify-between items-center"
  >
    <h3>{{ month_name }}</h3>
    <div class="flex gap-2 items-center">
      <!-- <button
        hx-get='{% url "weekly_calendar" week|add:"-1" %}'
        hx-target=".rdv_calendar"
        hx-swap="outerHTML"
        class="px-3 py-2 bg-white hover:bg-purple-300 rounded-full text-xs"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button> -->
      Semaine N° {{ week }}
      <!-- <button
        hx-get='{% url "weekly_calendar" week|add:"1" %}'
        hx-target=".rdv_calendar"
        hx-swap="outerHTML"
        class="px-3 py-2 bg-white hover:bg-purple-300 rounded-full text-xs"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button> -->
    </div>
    <h3>{{ year }}</h3>
  </div>

  <!-- monthly calendar -->
  <table class="hidden">
    <thead>
      <tr>
        <th>Dimanche</th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
      <tr>
        {% for day, has_appointment in week %}
        <td class="{% if has_appointment %}highlight{% endif %}">{{ day }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- weekly calendar -->
  <div class="overflow-x-auto">
    <table class="rdv_calendar table-auto">
      <thead>
        {#% with first_day=date|get_day_one %#}
        <tr class="bg-gray-100 text-black text-sm">
          <th>Heures</th>
          {% for french_day in day_mapping.values %}
          <!--  -->
          {% with first_day=day_one|add_days:forloop.counter %}
          <th>
            {{ french_day }}
            <br />
            <!-- Display the date -->
            <small class="text-gray-500 font-light">
              {{ first_day.date }}
            </small>
          </th>
          {% endwith %}
          <!--  -->
          {% endfor %}
        </tr>
        {#% endwith %#}
      </thead>

      <tbody>
        {% for hour in hours %}
        <tr>
          <td class="bg-gray-100 text-black text-sm">{{ hour }}:00</td>
          {% for day in days %}
          <!--  -->
          {% with rdv=appts|by_time:hour|by_day:day|by_week:week|by_year:year %}
          <td class="relative group">
            {% if rdv %}
            <span
              class="px-4 py-1 rounded-full bg-purple-200 text-xs font-bold highlight"
              >R.D.V</span
            >
            <div
              class="hidden group-hover:grid gap-2 absolute right-0 z-10 h-fit w-60 p-3 bg-purple-100 rounded-lg"
            >
              {% for obj in rdv %}
              <!--  -->
              {% include 'base/components/appointment_card_cal.html' %}
              <!--  -->
              {% endfor %}
            </div>

            {% else %}
            <span class="text-gray-300 text-xs">R.A.S</span>
            {% endif %}
          </td>
          {% endwith %}
          <!--  -->
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  function clearForm() {
    var form = document.querySelector("form");
    form.reset();
  }
</script>
