{% if curr_obj.status.id < 3 %}
<div class="relative text-gray-700">
  <button
    type="button"
    class="hover:text-black hover:bg-gray-50 px-4 py-2 rounded-lg"
    name="appointmentSentry"
    id="appointmentSentry"
    aria-expanded="false"
    aria-haspopup="true"
    onclick="toggleHostActionDropdown(this,'{{curr_obj.id}}')"
  >
    <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
  </button>

  <div
    class="hidden bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-lg flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
    role="status menu"
    aria-orientation="vertical"
    aria-labelledby="status-menu-button"
    tabindex="-1"
    id="actionMenu{{curr_obj.id}}"
  >
    <button
      hx-post="{% url 'moderate_appointment' curr_obj.id 2 %}"
      hx-target=".obj_status{{curr_obj.id}}, .appointment_details"
      hx-swapp="innerHTML"
      onclick="close_modal()"
      class="p-2 flex items-center hover:text-black hover:bg-amber-200 rounded-md w-full text-center {% if curr_obj.status.id > 1 %} cursor-none pointer-events-none opacity-50 disabled {% endif %}"
    >
      <i class="text-sm fa-solid fa-hourglass-start mr-2"></i>
      Commencer
    </button>

    <button
      hx-post="{% url 'moderate_appointment' curr_obj.id 3 %}"
      hx-target=".obj_status{{curr_obj.id}}, .appointment_details"
      hx-swapp="innerHTML"
      onclick="close_modal()"
      class="p-2 flex items-center hover:text-black hover:bg-green-200 rounded-md w-full text-center {% if curr_obj.status.id > 1 %} cursor-none pointer-events-none opacity-50 disabled {% endif %}"
    >
      <i class="text-sm fa-solid fa-hourglass-end mr-2"></i>
      Terminer
    </button>
  </div>
</div>
{% endif %}

<script>
  function toggleHostActionDropdown(e, obj_id) {
    activeMenu = document.getElementById(`actionMenu${obj_id}`);
    e.name === `appointmentSentry`
      ? ((e.name = "close"), activeMenu.classList.remove("hidden"))
      : ((e.name = `appointmentSentry`), activeMenu.classList.add("hidden"));
  }

  window.addEventListener("mouseup", function (event) {
    activeMenu.classList.add("hidden");
  });
</script>
