{% load static %}

<!--  mobile view -->

<div
  class="md:hidden relative md:flex flex-col border bg-white focus:border-purple-950 hover:border-purple-400 hover:shadow-md w-full rounded-lg group transition duration-300 ease-in-out overflow-hidden"
>
  <!-- admin functions update + delete -->
  {% if user.role.sec_level >= 4 %}
  <div class="flex absolute top-0 right-0 text-gray-300 text-xs">
    <button
      hx-target="#basic_dialog"
      hx-get="{% url 'edit_appointment' obj.id %}"
      class="px-2 py-1 hover:bg-purple-300 border border-t-0 rounded-bl-md hover:text-black"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button
      hx-confirm="Voulez vous vraiment supprimer ceci?"
      hx-delete="{% url 'delete_appointment' obj.id %}"
      class="px-2 py-1 hover:bg-red-300 border-b rounded-tr-md hover:text-black"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  {% endif %}

  <!-- card info -->

  <article
    class="p-4 md:text-sm lg:text-md flex flex-col gap-1 justify-between"
  >
    <h4 class="text-black font-bold">
      {% if obj.sex == 'male' %} M. {% else %} Mme. {% endif %}
      <!--  -->
      {{obj.last_name}} {{obj.first_name}}
      <!--  -->
      {% if obj.is_vip == True %}
      <i
        class="fa-solid fa-star text-xs text-gray-300 group-hover:text-amber-300"
      ></i>
      {% endif %}
      <!--  -->
    </h4>
    <div class="flex items-start justify-between">
      <span class="font-light text-xs text-gray-600"
        >{{obj.host.last_name}} {{obj.host.first_name}}</span
      >
      <button
        onclick="toggleAccordion('{{obj.id}}')"
        hx-get="{% url 'appointment' obj.id %}"
        hx-target=".appointment_details{{obj.id}}"
        class="px-3 py-1 bg-purple-50 hover:bg-purple-100 rounded-md hover:text-black"
      >
        <i id="shower{{obj.id}}" class="fa-solid fa-caret-down"></i>
        <i id="hider{{obj.id}}" class="hidden fa-solid fa-caret-up"></i>
      </button>
    </div>
    <small class="text:xs text-gray-400"
      ><i class="fa-solid fa-calendar-days text-xs"></i> {{obj.date}}</small
    >
    <div class="flex items-start justify-between">
      <small class="text:xs text-gray-400"
        ><i class="fa-solid fa-clock text-xs"></i> {{obj.time}}</small
      >
      <!-- appointment status indicator -->
      {% include 'base/components/status_badge.html' %}
    </div>
  </article>
</div>
<!-- htmx injects current object details into the accordion -->
<div
  class="appointment_details{{obj.id}} accordion active_accordion{{obj.id}} hidden mx-2 p-3 sm:p-4 border bg-gray-50 rounded-xl md:overflow-y-auto"
>
  <img
    class="h-60 lg:h-80 bg-gray-100 rounded-full mx-auto my-8"
    src="{% static 'imgs/appointment.png' %}"
    alt="welcome image"
  />
</div>

<script>
  function toggleAccordion(div_id) {
    var active_accordion = document.querySelector(`.active_accordion${div_id}`);
    var shower = document.getElementById(`shower${div_id}`);
    var hider = document.getElementById(`hider${div_id}`);
    console.log(div_id);

    if (active_accordion.classList.contains("hidden")) {
      shower.classList.add("hidden");
      hider.classList.remove("hidden");
      for (let element of document.getElementsByClassName("accordion")) {
        element.classList.remove("block");
        element.classList.add("hidden");
      }
      active_accordion.classList.remove("hidden");
      active_accordion.classList.add("block");
    } else {
      shower.classList.remove("hidden");
      hider.classList.add("hidden");
      for (let element of document.getElementsByClassName("accordion")) {
        element.classList.remove("block");
        element.classList.add("hidden");
      }
      active_accordion.classList.remove("block");
      active_accordion.classList.add("hidden");
    }
  }
</script>
