<div class="relative text-gray-700">
  <button
    type="button"
    class="h-full flex items-center gap-1 hover:bg-white hover:text-black px-4 py-2 rounded-md"
    name="notifier"
    id="notifier"
    aria-expanded="false"
    aria-haspopup="true"
    onclick="notificationDropdown(this)"
  >
    <i class="fa-sharp fa-solid fa-bell"></i>
    <small
      id="notification_counter"
      class="hidden p-[.25rem] bg-amber-400 rounded-full text-white text-xs"
    >
      0
    </small>
  </button>

  <div
    class="hidden bg-gray-100 w-60 lg:w-80 shadow-md p-2 absolute right-0 top-12 origin-top-left z-10 rounded-lg flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
    role="status menu"
    aria-orientation="vertical"
    aria-labelledby="status-menu-button"
    id="notifications_box"
  >
    <ul id="notifications" class="w-full flex flex-col gap-1"></ul>

    <a
      id="notifications_clearer"
      class="p-2 flex items-center hover:text-black hover:bg-purple-300 rounded-md w-full text-center cursor-pointer"
    >
      <i class="text-sm fa-solid fa-broom mr-2"></i>
      Tout effacer
    </a>
  </div>
</div>
<script>
  function notificationDropdown(e) {
    e.name === "notifier"
      ? ((e.name = "close"), notifications_box.classList.remove("hidden"))
      : ((e.name = "notifier"), notifications_box.classList.add("hidden"));
  }

  window.addEventListener("mouseup", function (event) {
    notifications_box.classList.add("hidden");
  });

  let notifications_counter = document.getElementById("notification_counter");
  let notifications_clearer = document.getElementById("notifications_clearer");

  document.body.addEventListener("htmx:wsAfterMessage", (e) => {
    let notifications_count = notifications_counter.innerHTML;
    if (!notifications_count) {
      notifications_counter.classList.remove("hidden");
      notifications_counter.innerHTML = 1;
    } else {
      notifications_counter.classList.remove("hidden");
      notifications_counter.innerHTML = parseInt(notifications_count) + 1;
    }
  });

  notifications_clearer.addEventListener("click", (e) => {
    e.preventDefault();
    let notifications = document.getElementById("notifications");
    notifications.querySelectorAll("li").forEach((element) => element.remove());
    notifications_counter.innerHTML = "";
    notifications_counter.classList.add("hidden");
  });
</script>
