<div class="text-black" id="obj_status{{obj.id}}">
  {% if obj.status.id == 1 %}
  <span class="px-3 py-1 bg-purple-200 rounded-lg">
    <i class="text-sm lg:text-md fa-solid fa-spinner"></i>
  </span>
  {% elif obj.status.id == 2 %}
  <span class="px-3 py-1 bg-amber-200 rounded-lg">
    <i class="text-sm lg:text-md fa-solid fa-hourglass-half"></i>
  </span>
  {% elif obj.status.id == 3 %}
  <span class="px-3 py-1 bg-green-200 rounded-lg">
    <i class="text-sm lg:text-md fa-solid fa-square-check"></i>
  </span>
  {% elif obj.status.id == 4 %}
  <span class="px-3 py-1 bg-sky-200 rounded-lg"
    ><i class="text-sm lg:text-md fa-solid fa-toggle-off"></i
  ></span>
  {% else %}
  <span class="px-3 py-1 bg-red-200 rounded-lg">
    <i class="text-sm lg:text-md fa-solid fa-ban"></i>
  </span>
  {% endif %}
</div>
