{% load static %}

<!-- tablet/ PC view -->

<div
  hx-get="{% url 'visit' obj.id %}"
  hx-target=".visit_details"
  hx-swap="innerHTML"
  class="cursor-pointer hidden relative md:flex flex-col border bg-white focus:border-purple-950 hover:border-purple-400 hover:shadow-md w-full rounded-lg transition duration-300 ease-in-out"
>
  <!-- admin functions update + delete -->
  {% if user.role.sec_level >= 4 %}
  <div class="flex absolute top-0 right-0 text-gray-300 text-xs">
    <button
      onclick="hide_dialogs()"
      hx-target="#basic_dialog"
      hx-get="{% url 'edit_visit' obj.id %}"
      class="px-2 py-1 hover:bg-purple-300 border border-t-0 rounded-bl-md hover:text-black"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button
      hx-confirm="Voulez vous vraiment supprimer ceci?"
      class="px-2 py-1 hover:bg-red-300 border-b rounded-tr-md hover:text-black"
      hx-delete="{% url 'delete_visit' obj.id %}"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  {% endif %}

  <!-- visit status indicator -->
  <div class="absolute bottom-2 right-1 text-xs">
    {% include 'base/components/status_badge.html' %}
  </div>

  <!-- card info -->

  <article class="p-4 md:text-sm lg:text-md flex flex-col justify-between">
    <h4 class="text-black font-bold">{{obj.guest}}</h4>
    <span class="italic font-light">@{{obj.host.username}}</span>
    <small class="mb-4 lg:mb-0 text:xs lg:text-sm text-gray-400"
      >{{obj.date}} à {{obj.arrived_at}}</small
    >
  </article>
</div>
