<!--  -->


{% if not moves %}<div
  class="p-4 h-full flex-col justify-center items-center text-center text-black m-auto"
>
  <span class="flex justify-center items-center">
    <i class="fa-solid fa-arrow-up text-gray-300 text-7xl"></i>
    <i class="fa-solid fa-arrow-down text-gray-300 text-7xl"></i>
  </span>
  <p
    class="mt-2 px-4 py-2 w-fit bg-gray-200 text-black rounded-lg text-sm text-center mx-auto"
  >
    Aucune movement effectué
  </p>
</div>
{% else %}
<h3 class="mb-2 font-bold text-lg">Mouvements récents</h3>
<div class="w-full grid border rounded-lg p-1 pb-0">
  {% for obj in moves %} 
  <!--  -->
  {% include 'accounts/components/time_tile.html' %} 
  <!--  -->
  {% endfor %}
</div>
{% endif %}
