<!-- visits table filter ------------------------------------------------------------->
<form
  id="visit_filter"
  hx-post="{% url 'filter_visits_table' %}"
  hx-target=".filtered_visits_table"
  hx-trigger="submit"
  class="p-1 w-full bg-gray-100 border rounded-lg flex justify-between items-center gap-1 text-sm xl:text-sm"
>
  {% csrf_token %}
  <!--  -->
  <div class="w-full flex justify-between items-center gap-1">
    <!-- date margin -->
    <input
      class="hidden lg:inline px-3 py-2 w-full rounded-md"
      type="date"
      id="visit_min_date"
      name="min_date"
      placeholder="A partir du"
    />
    <input
      class="hidden lg:inline px-3 py-2 w-full rounded-md"
      type="date"
      id="visit_max_date"
      name="max_date"
      placeholder="Jusqu'au"
    />
    {% if user.role.sec_level >= 4 %}
    <select
      id="visit_host"
      name="host"
      class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full border"
    >
      <option value="" selected disabled>Hôte</option>
      {% for obj in hosts %}
      <option value="{{obj.username}}">{{obj.last_name}} {{obj.first_name}}</option>
      {% endfor %}
    </select>
    {% endif %}
    <!-- statuses -->
    <select
      id="visit_status"
      name="status"
      class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full border"
    >
      <option value="" selected disabled>Status</option>
      {% for obj in statuses %}
      <option value="{{obj.id}}">{{obj.title}}</option>
      {% endfor %}
    </select>
    <!-- visit types -->
    <select
      id="visit_type"
      name="type"
      class="hidden sm:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full border"
    >
      <option value="" selected disabled>Contexte</option>
      <option value="familial">Amicale</option>
      <option value="friendly">Familiale</option>
      <option value="professional">Professionelle</option>
    </select>
    <!-- sex -->
    <select
      id="visit_sex"
      name="sex"
      class="hidden md:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full"
    >
      <option value="" selected disabled>Sexe</option>
      <option value="female">Feminin</option>
      <option value="male">Masculin</option>
    </select>
  </div>

  <button
    class="px-3 py-2 bg-gray-200 hover:bg-purple-400 hover:text-black rounded-md transition duration-200 ease-in"
    type="submit"
  >
    <i class="fa-solid fa-filter"></i>
  </button>
  <button
    class="px-3 py-2 bg-red-200 hover:bg-red-400 hover:text-black rounded-md transition duration-200 ease-in"
    hx-on:click="clearVisitFilter()"
    type="submit"
  >
    <i class="fa-solid fa-rotate-right"></i>
  </button>
</form>

<!-- visits table ------------------------------------------------------------->
<div class="overflow-auto rounded-lg bg-gray-50">
  <table id="visits_table" class="w-full text-left db-table">
    <thead class="bg-purple-950 border border-purple-950 text-white">
      <tr>
        <th class="p-4 text-sm">Date</th>
        <th class="p-4 text-sm">Hôte</th>
        <th class="p-4 text-sm">Nom</th>
        <th class="p-4 text-sm">Prénom</th>
        <th class="p-4 text-sm">Sexe</th>
        <th class="p-4 text-sm">Télephone</th>
        <th class="p-4 text-sm">Contexte</th>
        <th class="p-4 text-sm">Arrivé</th>
        <th class="p-4 text-sm">Accepté</th>
        <th class="p-4 text-sm">Parti</th>
        <th class="p-4 text-sm">Status</th>
        <th class="p-4 text-sm">Durée</th>
      </tr>
    </thead>

    <tbody
      class="filtered_visits_table"
      hx-get="{% url 'visits_table' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></tbody>
  </table>
</div>

<script>
  function clearVisitFilter() {
    var visit_filter = document.getElementById("visit_filter");
    visit_filter.reset();
  }
</script>
