{% extends 'main.html' %} {% load static %} {% block content %}

<div class="pb-4 flex flex-col gap-3">
  {% if user.role.sec_level >= 4 %}
  <button
    hx-target="#basic_dialog"
    hx-get="{% url 'create_user' %}"
    class="w-fit px-3 py-2 bg-purple-200 text-sm hover:text-black hover:bg-purple-300 flex items-center rounded-lg transition duration-200 ease-in"
  >
    <span class="hidden md:inline mr-2">Nouvel utilisateur</span>
    <i class="fa-solid fa-user-plus"></i>
  </button>
  {% endif %}
  <!--------------------------------------- filter form --------------------------------------->
  <form
    hx-post="{% url 'filter_users' %}"
    hx-target=".filtered_users"
    class="p-1 w-full bg-purple-100 rounded-lg flex justify-between items-center gap-1 text-sm xl:text-sm"
  >
    {% csrf_token %}
    <!--  -->
    <div class="w-full flex justify-between items-center gap-1">
      {% if user.role.sec_level >= 5 %}
      <!-- user types -->
      <select
        name="user_type"
        class="hidden sm:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
      >
        <option value="" selected disabled>Type d'utilisateur</option>
        {% for obj in user_roles %}
        <option value="{{obj.id}}">{{obj.name}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <input
        hx-post="{% url 'filter_users' %}"
        hx-target=".filtered_users"
        hx-trigger="keyup changed delay:500ms"
        placeholder="Nom"
        name="last_name"
        type="text"
        class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full max-w-[400px] border"
      />
      <input
        hx-post="{% url 'filter_users' %}"
        hx-target=".filtered_users"
        hx-trigger="keyup changed delay:500ms"
        placeholder="Prénoms"
        name="first_name"
        type="text"
        class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full max-w-[400px] border"
      />
      <!-- phaone -->
      <!-- <input
        placeholder="Telephone de l'utilisateur"
        name="user_phone"
        type="text"
        class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit max-w-[200px] border"
      /> -->
      <!-- sex -->
      <select
        name="user_sex"
        class="hidden md:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit"
      >
        <option value="" selected disabled>Sexe</option>
        <option value="male">Masculin</option>
        <option value="female">Feminin</option>
      </select>
      <!-- user statuses -->
      <select
        name="user_status"
        class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
      >
        <option value="" selected disabled>Status de disponibilité</option>
        {% for obj in user_statuses %}
        <option value="{{obj.id}}">{{obj.title}}</option>
        {% endfor %}
      </select>
    </div>

    <button
      class="px-3 py-2 bg-purple-200 hover:bg-purple-400 hover:text-black rounded-md transition duration-200 ease-in"
      type="submit"
    >
      <i class="fa-solid fa-filter"></i>
    </button>
    <button
      class="px-3 py-2 bg-red-200 hover:bg-red-400 hover:text-black rounded-md transition duration-200 ease-in"
      hx-on:click="clearUserFilter()"
      type="submit"
    >
      <i class="fa-solid fa-rotate-right"></i>
    </button>
  </form>
</div>
<!--------------------------------------- filter tabs buttons --------------------------------------->

<!--------------------------------------- users --------------------------------------->
<section
  id="users"
  class="h-[calc(100vh-96px)] lg:h-[calc(100vh-116px)] w-full flex gap-2"
>
  <!--------------------------------------- user list --------------------------------------->
  <div
    class="filtered_users p-2 bg-purple-50 rounded-xl h-full w-full md:max-w-[230px] lg:max-w-[330px] flex flex-col gap-3 overflow-y-auto"
  >
    <div
      class="user_list"
      hx-get="{% url 'user_list' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
    <!-- <div id="vis_list">{#% include 'base/partials/user_list.html' %#}</div> -->
  </div>

  <!--------------------------------------- user details --------------------------------------->

  <div
    class="user_details hidden md:flex flex-col items-center justify-center h-full w-full p-6 border rounded-xl md:overflow-y-auto"
  >
    <img
      class="h-60 lg:h-80 bg-gray-100 rounded-full"
      src="{% static 'imgs/user_profile.png' %}"
      alt="welcome image"
    />
    <p class="mt-4 px-4 py-2 w-fit mx-auto bg-gray-100 text-sm rounded-xl">
      Cliquez sur un utilisateur pour voir ses detail ici.
    </p>
  </div>
</section>

<script>
  function clearUserFilter() {
    var user_filter = document.getElementById("user_filter");
    user_filter.reset();
  }
</script>
{% endblock %}
