{% load static %} {% with curr_profile=curr_obj.profile %}
<div class="flex flex-col w-full h-full gap-4">

  <section
    id="details"
    class="h-fit w-full flex flex-col justify-between gap-8"
  >
    <div class="mt-10 flex gap-2 text-xs">
      {% include 'accounts/components/time_badge.html' %}
    </div>

    <div class="flex flex-col xl:flex-row justify-between items-center">
      {% if not curr_profile.image %}
      <img
        class="h-80 w-80 bg-white rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="image"
      />
      {% else %}
      <img
        class="h-80 w-80 bg-white rounded-full object-cover"
        src="{{curr_profile.image.url}}"
        alt="image"
      />
      {% endif %}
      <div class="h-60 flex flex-col gap-1">
        <h3 class="text-center text-white text-sm bg-purple-950 p-2 rounded-lg">
          Temps totals en minutes
        </h3>
        <canvas id="time_chart"></canvas>
      </div>
    </div>

    <div class="mt-4 w-full grid xl:grid-cols-2 gap-2">
      <article class="border text-gray-700 rounded-xl p-4 grid gap-2">
        <div>
          <h4 class="text-black text-2xl font-bold">
            {{curr_obj.last_name}} {{curr_obj.first_name}}
          </h4>
          <span class="text-purple-700">@{{curr_obj.username}}</span>
        </div>

        <p>
          <i class="fa-solid fa-venus-mars text-gray-800 mr-3"></i> Sexe :
          <span class="text-black">
            {{curr_profile.get_sex_display|title}}
          </span>
        </p>
        <p>
          <i class="fa-solid fa-flag text-gray-800 mr-3"></i> Nationalité :
          <span class="text-black"> {{curr_profile.nationality}} </span>
        </p>
        <p>
          <i class="fa-solid fa-calendar-days text-gray-800 mr-3"></i> Né le :
          <span class="text-black"> {{curr_profile.birthday}} </span>
        </p>
        <p>
          <i class="fa-solid fa-hashtag text-gray-800 mr-3"></i> N° d'immatriculation :
          <span class="text-black"> {{curr_profile.reg_number|title}} </span>
        </p>
        <p>
          <i class="fa-solid fa-phone text-gray-800 mr-3"></i> N° de
          telephone :
          <span class="text-black"> {{curr_profile.phone_alt}} </span>
        </p>

        {% if user != curr_profile.user %}
        <div class="flex items-center gap-2">
          <a
            href="{% url 'chats' %}"
            class="w-fit px-4 py-2 bg-purple-200 hover:text-black hover:shadow-md rounded-lg flex items-center text-black transition duration-300 ease-in-out"
          >
            Ecrire <i class="fa-solid fa-message ml-2"></i
          ></a>
          <a
            href="tel:{{curr_obj.phone}}"
            class="w-fit px-4 py-2 bg-amber-100 hover:text-black hover:shadow-md rounded-lg flex items-center text-black transition duration-300 ease-in-out"
          >
            Telephoner<i class="fa-solid fa-phone ml-2"></i
          ></a>
        </div>
        {% endif %}
      </article>

      <div
        class="bg-purple-950 text-white rounded-xl p-6 flex flex-col justify-center gap-4 text-sm"
      >
        <p class="grid grid-cols-2">
          <span>
            <i class="fa-solid fa-user-tie text-xl"></i>
            <i class="fa-solid fa-clock text-xs"></i>
              Visites
          </span>
          <span class="text-md text-black bg-amber-200 rounded-md px-4 py-1">
            {{visit_hours}} minutes
          </span>
        </p>
        <p class="grid grid-cols-2">
          <span>
            <i class="fa-solid fa-calendar-days text-xl"></i>
            <i class="fa-solid fa-clock text-xs"></i>
              Rendez-vous
            </span>
          <span class="text-md text-black bg-amber-200 rounded-md px-4 py-1">
            {{appt_hours}} minutes
          </span>
        </p>
        <p class="grid grid-cols-2">
          <span>
            <i class="fa-solid fa-building-user text-xl"></i> Departement
          </span>
          <span class="text-md text-black bg-amber-200 rounded-md px-4 py-1">
            {{curr_profile.department}}
          </span>
        </p>
        <p class="grid grid-cols-2">
          <span>
            <i class="fa-solid fa-briefcase text-xl"></i> Position
          </span>
          <span class="text-md text-black bg-amber-200 rounded-md px-4 py-1">
            {{curr_profile.job_position}}
          </span>
        </p>
        <p class="text-sm text-black bg-purple-200 rounded-lg p-3"> <b> Bio : </b> <i> {{curr_profile.bio}}</i></p>
      </div>
    </div>

  </section>

</div>

<script>
  // // general overview char ----------------------------------------------------------------------------------------------------
  // entries percentage by type --pie(doughnut) chart--------------------------------------
  var ctx = document.getElementById("time_chart");
  var time_chart = new Chart(ctx, {
    type: "polarArea",
    data: {
      labels: ["Rendez-vous", "Visites"],
      datasets: [
        {
          data: ["{{appt_hours}}", "{{visit_hours}}"],
          backgroundColor: [
            "rgb(253, 230, 138, 0.5)",
            "rgb(192, 132, 252, 0.5)",
          ],
          borderColor: ["rgb(253, 230, 138)", "rgb(192, 132, 252)"],
          borderWidth: 0,
        },
      ],
    },
  });
</script>
{% endwith %}
