{% load static %}
<!--  -->
<div class="relative h-fit md:h-full md:w-full">
  {% with obj=curr_obj %}
  <div class="absolute top-0 right-0 flex items-center gap-1">
    <!--  -->
    {% include 'accounts/components/user_status_badge.html' %}
    <!--  -->
    {% if user.role.sec_level >= 5 and user_detail_page %}
    <div
      class="flex border rounded-md right-0 text-gray-300 text-sm overflow-hidden"
    >
      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-get="{% url 'edit_user' obj.id %}"
        class="px-2 py-1 hover:bg-purple-300 hover:text-black"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button
        hx-confirm="Voulez vous vraiment supprimer ceci?"
        class="px-2 py-1 hover:bg-red-300 border-l hover:text-black"
        hx-delete="{% url 'delete_user' obj.id %}"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    {% endif %}
  </div>
  {% endwith %}

  <div class="flex flex-col gap-4">
    {% if not curr_obj.profile.image %}
    <img
      class="h-60 w-60 bg-white rounded-full object-cover"
      src="{% static 'imgs/anon.png' %}"
      alt="image"
    />
    {% else %}
    <img
      class="h-60 w-60 bg-white rounded-full object-cover"
      src="{{curr_obj.profile.image.url}}"
      alt="image"
    />
    {% endif %}
    <div class="flex flex-col gap-1 justify-center">
      <h4 class="text-black text-2xl font-bold">
        {{curr_obj.last_name}} {{curr_obj.first_name}}
      </h4>
      <span class="italic text-purple-700">@{{curr_obj.username}}</span>
    </div>
  </div>

  <div class="mt-4 flex flex-col gap-2 text-gray-500">
    <p>
      <i class="fa-solid fa-venus-mars text-gray-600 mr-3"></i> Sexe :
      <span class="text-black">
        {{curr_obj.profile.get_sex_display|title}}
      </span>
    </p>
    <p>
      <i class="fa-solid fa-flag text-gray-600 mr-3"></i> Nationalité :
      <span class="text-black"> {{curr_obj.nationality}} </span>
    </p>
    <p>
      <i class="fa-solid fa-calendar-days text-gray-600 mr-3"></i> Jours
      d'anniversaire :
      <span class="text-black"> {{curr_obj.profile.birthday}} </span>
    </p>
    <p>
      <i class="fa-solid fa-hashtag text-gray-600 mr-3"></i> Numero
      d'immatriculation :
      <span class="text-black"> {{curr_obj.profile.reg_number|title}} </span>
    </p>
    <p>
      <i class="fa-solid fa-phone text-gray-600 mr-3"></i> Numero de telephone :
      <span class="text-black"> {{curr_obj.tel|title}} </span>
    </p>
    {% if not is_self %}
    <a
      href="{% url 'thread' curr_obj.id %}"
      class="w-fit px-4 py-2 bg-purple-100 hover:bg-purple-300 hover:text-black rounded-lg flex items-center text-black transition duration-300 ease-in-out"
    >
      Contacter<i class="fa-solid fa-message ml-2"></i
    ></a>
    {% endif %}
  </div>
</div>

<!--  -->
