{% extends 'main.html' %} {% load static %} {% block content %}
<!--  -->

<div class="flex justify-between gap-4 xl:gap-8 h-full">
  <!-- active chat thread -->
  <div class="h-full w-full max-w-4xl mx-auto flex flex-col justify-between">
    <div
      class="px-4 py-2 flex justify-between items-center bg-purple-950 text-white rounded-md"
    >
      <div class="flex items-center">
        {% if not other_user.image %}
        <img
          class="h-5 w-5 lg:h-10 lg:w-10 rounded-full object-cover"
          src="{% static 'imgs/rand.webp' %}"
          alt="welcome image"
        />
        {% else %}
        <img
          class="h-5 w-5 lg:h-10 lg:w-10 rounded-full object-cover"
          src="{{other_user.image.url}}"
          alt="welcome image"
        />
        {% endif %}
        <span class="ml-2">
          {{other_user.last_name}} {{other_user.first_name}}
        </span>
      </div>
      <div class="flex items-center">
        <button
          class="group p-2 text-sm hover:bg-amber-200 rounded-l-md group"
          type="submit"
        >
          <i
            class="px-2 fa-solid fa-magnifying-glass group-hover:text-black"
          ></i>
        </button>
        <button
          class="group p-2 text-sm hover:bg-amber-200 rounded-r-md group"
          type="submit"
        >
          <i
            class="px-2 fa-solid fa-ellipsis-vertical group-hover:text-black"
          ></i>
        </button>
      </div>
    </div>
    <div
      class="msg-box overflow-auto float"
      chat-id="chat_{{ active_thread.id }}"
      other-user-id="{% if active_thread.first_person == user %} {{ active_thread.second_person.id }} {% else %} {{ active_thread.first_person.id }} {% endif %}"
    >
      {% if not active_thread.chat_thread.all %}
      <image
        width="500"
        class="mx-auto"
        src="{% static 'imgs/chat.png' %}"
        alt="no data"
      />
      <p
        class="mb-8 w-40 bg-amber-100 p-4 rounded-md text-center mx-auto animate-bounce"
      >
        Restons connecté
      </p>
      {% else %}
      <!------------------ conversation box ------------------->
      {% for chat in active_thread.chat_thread.all %}
      <div
        class="lg:pr-4 flex flex-col justify-between {% if chat.sender == user %} items-end {% else %} items-start {% endif %}"
        id="convo"
      >
        {% if chat.sender == user %}
        <div
          class="group msg_out px-4 py-2 mb-4 bg-gray-100 text-black text-base rounded-md flex flex-col text-right max-w-md"
        >
          <p>{{chat.text}}</p>
          <span class="text-xs text-gray-400">{{chat.created_at}}</span>
          <p class="group flex justify-end text-right gap-4">
            <!-- <a
              href="{% url 'delete_text' chat.id  %}"
              class="inline p-2 text-sm text-gray-700 cursor-pointer"
            >
              <i
                class="hidden group-hover:block fa-solid fa-pen-to-square hover:text-purple-700"
              ></i>
            </a> -->
            <a
              id="delete_btn"
              onclick="return confirm('Voulez vous supprimer ce message?')"
              href="{% url 'delete_text' chat.id  %}"
              class="inline p-2 text-sm text-gray-700 cursor-pointer"
            >
              <i
                class="hidden group-hover:block fa-solid fa-trash hover:text-red-700"
              ></i>
            </a>
          </p>
        </div>
        {% else %}
        <div
          class="msg_in px-4 py-2 mb-4 bg-purple-900 text-white text-base rounded-md flex flex-col text-left max-w-md"
        >
          <p>{{chat.text}}</p>
          <span class="text-xs text-gray-400">{{chat.created_at}}</span>
        </div>
        {% endif %}
        <!--  -->
      </div>
      {% endfor %} {% endif %}
    </div>

    <!------------------ chat form ------------------->
    <form
      id="messenger"
      class="w-full flex flex-row space-8 w-full gap-4 justify-between items-center m-0 p-0"
    >
      <!-- <a href="">
        <i class="fa-solid fa-face-smile text-amber-300"></i>
      </a>
      <a href="">
        <i class="fa-solid fa-paperclip"></i>
      </a> -->
      <input
        type="text"
        name="message"
        id="texto"
        required
        class="px-4 py-3 rounded-md bg-gray-100 text-black w-full"
        placeholder="ecrivez votre message..."
      />
      <button
        class="group px-4 py-4 text-sm bg-purple-950 hover:bg-amber-200 text-white rounded-md"
        type="submit"
      >
        <i class="px-2 fa-solid fa-paper-plane group-hover:text-black"></i>
      </button>
    </form>
  </div>

  <!-- ---------------------------threads and contacts sidebar--------------------------------->
  <div
    class="hidden md:block contacts bg-gray-100 border border-2 p-4 rounded-md flex flex-col md:w-60 lg:w-2/6 overflow-auto"
  >
    <form id="search_box" class="w-full max-w-xl flex flex-row justify-between">
      <input
        type="text"
        name="query"
        id="querier"
        required
        class="px-4 py-2 bg-white text-black w-full rounded-l-md outline-none"
        placeholder="Recherchez..."
      />
      <button
        class="group px-4 py-2 text-sm bg-purple-950 hover:bg-amber-200 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
        type="submit"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <!-- ---------------------------tab navs--------------------------------->

    <div class="customtab py-3 flex justify-between gap-2 w-full text-xs">
      <button
        class="tablinks px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md"
        onclick="openTab(event, 'messages')"
        id="defaultOpen"
      >
        <i class="fa-solid fa-comments"></i>
        <span class="hidden xl:block"> Messages </span>
      </button>
      <button
        class="tablinks px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md"
        onclick="openTab(event, 'contacts')"
      >
        <i class="fa-solid fa-address-book"></i>
        <span class="hidden xl:block"> Contacts </span>
      </button>
      <button
        class="tablinks px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md"
        onclick="openTab(event, 'groups')"
      >
        <i class="fa-solid fa-people-group"></i>
        <span class="hidden xl:block"> Groupes </span>
      </button>
    </div>

    <!-- ---------------------------tab contents--------------------------------->

    <div>
      <!-- messages or threads  -->

      <div id="messages" class="tabcontent">
        {% for thread in threads %}
        <a href="{% url 'chat_box' thread.id %}">
          <li
            class="contact-li p-2 flex flex-row items-center gap-2 mb-2 {% if thread.id == active_thread.id %} active {% else %} bg-white {% endif %} sm:text-sm lg:text-md rounded-md cursor-pointer"
          >
            <img
              class="hidden lg:block w-10 h-10 rounded-full"
              src="{% static 'imgs/rand.webp' %}"
              alt="Rounded avatar"
            />
            {% if thread.first_person == user %}
            <div class="w-full">
              <p class="text-black font-bold">
                @{{thread.second_person.first_name}}
              </p>
            </div>
            {% else %}
            <div class="w-full">
              <p class="text-black font-bold">
                @{{thread.first_person.first_name}}
              </p>
            </div>
            {% endif %}
          </li>
        </a>
        {% endfor %}
      </div>

      <!-- contacts  -->

      <div id="contacts" class="tabcontent">
        {% for obj in contacts %}
        <a href="{% url 'chat_page' obj.id %}">
          <li
            class="p-2 {% if user.id == i.id %} hidden {% else %} flex flex-row items-center gap-2 mb-2 bg-white sm:text-sm lg:text-md rounded-md cursor-pointer {% endif %}"
            chat-id="chat_{active_thread.id}"
          >
            {% if not obj.image %}
            <img
              class="h-5 w-5 lg:h-10 lg:w-10 rounded-full object-cover"
              src="{% static 'imgs/rand.webp' %}"
              alt="welcome image"
            />
            {% else %}
            <img
              class="h-5 w-5 lg:h-10 lg:w-10 rounded-full object-cover"
              src="{{obj.image.url}}"
              alt="welcome image"
            />
            {% endif %}
            <div class="w-full text-xs lg:text-base">
              <p class="text-purple-900 font-bold">
                @{{obj.get_short_name|truncatechars:15}}
              </p>
              <p>{{obj.email|truncatechars:15}}</p>
              <!-- <span
                class="bg-amber-200 mt-2 px-2 py-[2px] rounded-full text-[8px] lg:text-base"
              >
                {{obj.role.name|truncatechars:15}}
              </span> -->
            </div>
          </li>
        </a>
        {% endfor %}
      </div>

      <!-- groups  -->

      <div id="groups" class="tabcontent">
        <h3>Groupes</h3>
        <p>Auncun groupe disponible.</p>
      </div>
    </div>
  </div>
</div>

{{other_user.id|json_script:"receiver-username"}}
{{user.username|json_script:"sender-username"}}

<script>
  function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}
