{% extends 'main.html' %} {% load static %} {% block content %}
<section id="chats_base" class="flex gap-3 h-[calc(100vh-5em)] md:h-[calc(100vh-7em)]">
    <!--------------------------------------- thread/contacts/groups lists --------------------------------------->
    <div
      class="flex flex-col gap-2 h-full w-full md:max-w-[260px] lg:max-w-[320px] xl:max-w-[380px]"
    >
      <!--------------------------------------- menu tabs buttons --------------------------------------->
      <div
        class="tabbar p-1 bg-purple-950 rounded-lg flex justify-between gap-1 h-fit w-full lg:lg: text-xs"
      >
        <button
          class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
          onclick="openTab(event, 'threads')"
          id="defaultTab"
        >
          <i class="fa-solid fa-comments"></i>
          <span class="hidden xl:inline lg:ml-2">Messages</span>
        </button>
        <button
          class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
          onclick="openTab(event, 'contacts')"
        >
          <i class="fa-solid fa-address-book"></i>
          <span class="hidden xl:inline lg:ml-2">Contacts</span>
        </button>
        <!-- <button
            class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
            onclick="openTab(event, 'groups')"
          >
            <i class="fa-solid fa-people-group"></i>
            <span class="hidden xl:inline lg:ml-2">Groupes</span>
          </button> -->
      </div>

      <!--------------------------------------- threads --------------------------------------->
      <section id="threads" class="tabcontent  h-[calc(100vh-96px)] md:h-[calc(100vh-160px)]  w-full">
        <button
          class="hidden"
          id="chats_reloader"
          hx-target=".thread_list"
          hx-get="{% url 'threads' %}"
        ></button>
        <div class="h-full flex flex-col">
          <!--------------------------------------- filter form --------------------------------------->
          <form
            class="mb-2 flex items-center gap-1 w-full lg:max-w-[400px]"
            hx-post="{% url 'filter_threads' %}"
            hx-target=".thread_list"
          >
            {% csrf_token %}
  
            <input
              hx-post="{% url 'filter_threads' %}"
              hx-target=".thread_list"
              hx-trigger="keyup changed delay:500ms"
              placeholder="Recherchez..."
              name="name"
              type="text"
              class="px-3 py-2 text-xs rounded-md focus:bg-gray-100 outilne-none w-full border focus:border-none focus:outline-none focus:bg-white focus:ring-1 focus:ring-purple-950"
            />
          </form>
          <div
            class="p-2 border bg-gray-100 rounded-xl h-full w-full flex flex-col gap-3 overflow-y-auto"
          >
            <div
              class="thread_list"
              hx-get="{% url 'threads' %}"
              hx-trigger="load, db_changed from:body"
              hx-target="this"
            ></div>
          </div>
        </div>
      </section>

      <!--------------------------------------- contacts --------------------------------------->
      <section id="contacts" class="tabcontent  h-[calc(100vh-96px)] md:h-[calc(100vh-160px)]  w-full">
        <div class="h-full flex flex-col">
          <!--------------------------------------- filter form --------------------------------------->
          <form
            class="mb-2 flex items-center gap-1 w-full lg:max-w-[400px]"
            hx-post="{% url 'filter_contacts' %}"
            hx-target=".contact_list"
          >
            {% csrf_token %}

            <input
              hx-post="{% url 'filter_contacts' %}"
              hx-target=".contact_list"
              hx-trigger="keyup changed delay:500ms"
              placeholder="Recherchez..."
              name="name"
              type="text"
              class="px-3 py-2 text-xs rounded-md focus:bg-gray-100 outilne-none w-full border focus:border-none focus:outline-none focus:bg-white focus:ring-1 focus:ring-purple-950"
            />
          </form>
          <div
            class="p-2 border bg-gray-100 rounded-xl h-full w-full flex flex-col gap-3 overflow-y-auto">
            <div
              class="contact_list"
              hx-get="{% url 'contacts' %}"
              hx-trigger="load, db_changed from:body"
              hx-target="this"
            ></div>
          </div>
        </div>
      </section>

      <!--------------------------------------- groups --------------------------------------->
      <section id="groups" class="tabcontent h-[calc(100vh-96px)] md:h-[calc(100vh-160px)] w-full">
        <div
          class="filtered_groups p-2 bg-gray-100 rounded-xl h-full w-full flex flex-col gap-3 overflow-y-auto">
          <div
            class="group_list"
            hx-get="{% url 'groups' %}"
            hx-trigger="load, db_changed from:body"
            hx-target="this"
          ></div>
        </div>
      </section>
    </div>

    <!--------------------------------------- thread details --------------------------------------->
    <div
      class="thread_page hidden md:flex flex-col gap-3 items-center justify-center w-full h-full border rounded-xl"
    >
      <i class="fa-solid fa-comments text-purple-950 text-9xl"></i>
      <p class="mt-4 px-4 py-2 w-fit mx-auto bg-purple-950 text-white text-sm rounded-lg">
        Restez connecter en temps réel.
      </p>
    </div>
</section>

  <script>
    //  tabs control ----------------------------------------------------------------------------------------------------
    document.getElementById("defaultTab").click();
    function openTab(event, tabName) {
      var i, tabcontent, tabBtn;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tabBtn = document.getElementsByClassName("tabBtn");
      for (i = 0; i < tabBtn.length; i++) {
        tabBtn[i].className = tabBtn[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      event.currentTarget.className += " active";
      var minitabs = document.getElementsByClassName("minitabcontent");
      if (minitabs.length != 0) {
        minitabs = tabcontent.children;
      }
    }
  </script>
{% endblock %}
