{% load static %}

<div class="mx-auto w-full rounded-md">
  <form
    class="w-full flex flex-col gap-2 text-sm"
    hx-post="{{ request.path }}"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2
      class="px-4 py-2 bg-purple-950 rounded-lg mb-4 text-center text-xl text-white"
    >
      {{ form_title }}
    </h2>

    <div class="grid md:grid-cols-1 gap-4">
      <div>
        <h3 class="mb-1">{{form.name.label}}</h3>
        {{form.name}}
      </div>
      <div>
        <h3 class="mb-1">{{form.slogan.label}}</h3>
        {{form.slogan}}
      </div>
      <div>
        <h3 class="mb-1">{{form.company_type.label}}</h3>
        {{form.company_type}}
      </div>
      <div>
        <h3 class="mb-1">{{form.phone.label}}</h3>
        {{form.phone}}
      </div>
      <div>
        <h3 class="mb-1">{{form.email.label}}</h3>
        {{form.email}}
      </div>
      <div>
        <h3 class="mb-1">{{form.description.label}}</h3>
        {{form.description}}
      </div>
    </div>

    <div class="flex flex-row-reverse gap-2 items-end text-xs">
      <button
        class="px-4 py-2 bg-purple-200 text-black hover:bg-purple-300 rounded-md"
        type="submit"
      >
        {% if not curr_obj %} Créer {% else %} Enregistrer {% endif %}
      </button>
      <button
        onclick="close_modal()"
        type="button"
        class="modal_closer px-4 py-2 bg-gray-100 text-black hover:bg-red-300 rounded-md"
      >
        Annuler
      </button>
    </div>
  </form>
</div>

{% if not curr_obj %}
<script>
  $(document).ready(function () {
    if (!"curr_obj") {
      // Add a placeholder option to the select element
      $("#comp_selector").children().first().remove();
      $("#comp_selector").prepend(
        '<option value="" disabled selected></option>'
      );
    }
  });
</script>
{% endif %}
