{% load static %}

<div class="mx-auto w-full rounded-md">
  <form
    class="w-full flex flex-col gap-2 text-sm"
    hx-post="{{ request.path }}"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2
      class="px-4 py-2 bg-purple-950 rounded-lg mb-4 text-center text-xl text-white"
    >
      {{ form_title }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h3 class="mb-1">{{form.last_name.label}}</h3>
        {{form.last_name}}
      </div>
      <div>
        <h3 class="mb-1">{{form.first_name.label}}</h3>
        {{form.first_name}}
      </div>
      <div>
        <h3 class="mb-1">{{form.sex.label}}</h3>
        {{form.sex}}
      </div>
      <div>
        <h3 class="mb-1">{{form.phone.label}}</h3>
        {{form.phone}}
      </div>
      <!-- <div>
        <h3 class="mb-1">{{form.nationality.label}}</h3>
        {{form.nationality}}
      </div> -->
      <div>
        <h3 class="mb-1">{{form.host.label}}</h3>
        {{form.host}}
      </div>
      <div>
        <h3 class="mb-1">{{form.context.label}}</h3>
        {{form.context}}
      </div>
      <div>
        <h3 class="mb-1">{{form.id_document.label}}</h3>
        {{form.id_document}}
      </div>
      <div>
        <h3 class="mb-1">{{form.id_number.label}}</h3>
        {{form.id_number}}
      </div>
    </div>

    <!-- <div class="grid md:grid-cols-3 gap-4">
      <div>
        <h3 class="mb-1">{{form.host.label}}</h3>
        {{form.host}}
      </div>
      <div>
        <h3 class="mb-1">{{form.date.label}}</h3>
        {{form.date}}
      </div>
      <div>
        <h3 class="mb-1">{{form.time.label}}</h3>
        {{form.time}}
      </div>
    </div> -->

    <div class="flex flex-row-reverse gap-2 items-end text-xs">
      <button
        class="px-4 py-2 bg-purple-200 text-black hover:bg-purple-300 rounded-md"
        type="submit"
      >
        {% if not curr_obj %} Ajouter {% else %} Enregistrer {% endif %}
      </button>
      <button
        onclick="close_modal()"
        type="button"
        class="modal_closer px-4 py-2 bg-gray-100 text-black hover:bg-red-300 rounded-md"
      >
        Annuler
      </button>
    </div>
  </form>
</div>

{% if not curr_obj %}
<script>
  $(document).ready(function () {
    // if (!"curr_obj") {
    // Add a placeholder option to the select element
    $("#id_selector").children().first().remove();
    $("#id_selector").prepend('<option value="" disabled selected></option>');
    $("#sex_selector").children().first().remove();
    $("#sex_selector").prepend('<option value="" disabled selected></option>');
    $("#host_selector").children().first().remove();
    $("#host_selector").prepend('<option value="" disabled selected></option>');
    $("#context_selector").children().first().remove();
    $("#context_selector").prepend(
      '<option value="" disabled selected></option>'
    );
    // }
  });
</script>
{% endif %}
