/* scrollbar---------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #f3e8ff;
  border-radius: 100vw;
  margin-block: 2rem;
}
::-webkit-scrollbar-thumb {
  background: #3b0764;
  border: 0.2em solid #f3e8ff;
  border-radius: 100vw;
  margin-block: 2rem;
}

/* ul and li ---------------------------------------------------------------------------------------------------- */
ul {
  list-style: none;
}
li {
  text-decoration: none;
  text-emphasis: none;
}

/* tables---------------------------------------------------------------------------------------------------- */
.db-table {
  border-collapse: collapse;
}

.db-table tbody tr:nth-of-type(even) {
  background-color: #e0e7ff;
}

.active {
  background: #fde68a;
  color: black;
}

.primary {
  background: #3b0764;
}

.secondary {
  background: #fde68a;
}

.text-secondary {
  color: #fde68a;
}

.msg_out {
  background: #f3e8ff;
  color: black;
}

.msg_in {
  background: #3b0764;
  color: white;
}

/* tabs---------------------------------------------------------------------------------------------------- */

.customtab button.active {
  border-radius: 0.5em;
  background-color: #3b0764;
  color: white;
}
