{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/f601cf3e61.js"
      crossorigin="anonymous"
    ></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet"> -->
    <title>Dermepro</title>
  </head>
  <body class="flex flex-row bg-white text-gray-500">
    <script type="text/javascript">
      let url = `ws://${window.location.host}/ws/socket-server/`;
      const chatSocket = new WebSocket(url);

      chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log("Data", data);

        if (data.type == "chat") {
          let messages = document.getElementById("messages");
          messages.insertAdjacentHTML(
            "beforeend",
            `<div>
              <p>${data.message}</p>
            </div>`
          );
        }
      };

      let form = document.getElementById("chatform");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        let message = e.target.message.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
        form.reset();
      });
    </script>
    <div>{% include 'nav.html' %}</div>
    <div class="w-full">{% block content %} {% endblock %}</div>
  </body>
</html>
