{% load static %}
<div

  class="w-[60px] md:w-20 p-4 bg-purple-950 text-white xl:w-[300px] min-h-screen fixed"
>
  <a
    class="mb-4 flex items-end"
    href="{% url 'home' %}"
  >
  <img class="h-6 xl:h-10 mx-auto xl:mx-0 xl:mr-2" src="{% static 'imgs/logo-w.png' %}" alt="logo" />
  <h1 class="hidden xl:inline text-xl font-black">Dermepro</h1>
  </a>

  <ul class="h-[calc(100vh-70px)] w-full flex flex-col gap-2 mx-auto items-center xl:items-start overflow-y-auto">
    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{home_page}}"
      href="{% url 'home' %}"
    >
      <i class="text-sm fa-solid fa-house xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Accueil
      </span>
    </a>

    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{visits_page}}"
      href="{% url 'visits' %}"
    >
      <i class="fa-sharp fa-solid fa-user-tie xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Visites
      </span>
    </a>
    {% if user.is_superuser %}
    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{rdvs_page}}"
      href="{% url 'appointments' %}"
    >
      <i class="text-sm fa-solid fa-handshake xl:xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Rendez-vous
      </span>
    </a>
    {% endif %}
    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{users_page}}"
      href="{% url 'users' %}"
    >
      <i class="text-sm fa-solid fa-users xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Utilisateurs
      </span>
    </a>
    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{chats_page}}"
      href="{% url 'chats' %}"
    >
      <i class="text-sm fa-solid fa-comments xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Messagerie
      </span>
    </a>
    {% if user.is_superuser %}
    <a
    class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{report_page}}"
    href="{% url 'reports' %}"
    >
    <i class="fa-sharp fa-solid fa-chart-simple xl:mr-2"></i> 
    <span class="hidden xl:inline">
      Rapports
    </span>
  </a>
  <a
    class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{params_page}}"
    href="{% url 'settings' %}"
  >
    <i class="fa-sharp fa-solid fa-gear xl:mr-2"></i> 
    <span class="hidden xl:inline">
      Paramètres
    </span>
  </a>
    {% endif %}
    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{about_page}}"
      href="{% url 'about' %}"
    >
      <i class="text-sm fa-solid fa-circle-info xl:mr-2"></i> 
      <span class="hidden xl:inline">
        A propos
      </span>
    </a>

    <a
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{dash_page}}"
      href="{% url 'dashboard' %}"
    >
      <i class="fa-sharp fa-solid fa-bars-progress xl:mr-2"></i> 
      <span class="hidden xl:inline">
        Tableau de bord
      </span>
    </a>

    {% if user.is_superuser %}
    <a
     target="_blank"
      class="px-1 md:px-3 py-2 text-center xl:text-left rounded-md hover:bg-red-900 hover:text-white transition ease-in duration-200 w-full"
      href="{% url 'admin:index' %}"
      ><i class="text-sm fa-solid fa-lock xl:mr-2"></i> <span class="hidden xl:inline ">
        Admin Dashboard</a
        >
      </span>
    {% endif %}
 <div
      class="w-full px-1 py-2 xl:p-2 flex flex-col xl:flex-row items-center gap-1 xl:gap-2 mb-2 xl:bg-white sm:text-sm xl:text-md rounded-md cursor-pointer"
    >
    {% if not user.image %}
    <img
      class="hidden xl:inline h-10 w-10 rounded-md object-cover"
      src="{% static 'imgs/anon.png' %}"
      alt="welcome image"
    />
    {% else %}
    <img
      class="hidden xl:block h-10 w-10 rounded-md object-cover"
      src="{{user.image.url}}"
      alt="welcome image"
    />
    {% endif %}
      <div class="hidden xl:block w-full">
        <p class="text-black font-bold">{{user.last_name|title}} {{user.first_name|title}}</p>
        <p class="text-gray-500">@{{user.username}}</p>
      </div>
      <div class="relative">

        <button
          type="button"
          class="bg-white hover:bg-purple-200 hover:text-black px-4 py-2 rounded-md"
          name="dropdownBtn"
          id="dropdownBtn"
          aria-expanded="false"
          aria-haspopup="true"
          onclick="toggleDropdown(this)"
        >
          <i class="fa-sharp fa-solid fa-caret-down text-gray-700"></i>
      
        </button>
  
        <div
          class="mb-4 w-full xl:p-2 hidden absolute right-0 top-12 origin-top-left bg-white z-30 rounded-md xl:w-40 grid gap-2 overflow-hidden"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          id="dropdownMenu"
        >
          <a href="{% url 'user' user.id  %}"
            class="p-2 flex text-sm text-gray-700 hover:text-black hover:bg-purple-200 xl:rounded-md w-full"
            >
            <i class="text-sm fa-solid fa-user xl:mr-2"></i> 
            <span class="hidden xl:inline">Mon Profile</span>
            </a
          >
          <a
            href="#"
            class="p-2 flex text-sm text-gray-700 hover:text-black hover:bg-purple-200 xl:rounded-md w-full"
            >
            <i class="text-sm fa-solid fa-gear xl:mr-2"></i>
              <span class="hidden xl:inline">Parametres</span>
            </a
          >
          <a
            href="{% url 'logout' %}"
            class="p-2 flex text-sm text-red-700 hover:bg-red-700 hover:text-white xl:rounded-md w-full"
            >
            <i class="text-sm fa-solid fa-right-from-bracket xl:mr-2"></i>
            <span class="hidden xl:inline">Deconnexion</span>
            </a
          >
        </div>
      </div>
    </div>
  </ul>
</div>

<script>
  function toggleDropdown(e) {
  e.name === "dropdownBtn"
    ? ((e.name = "close"), dropdownMenu.classList.remove("hidden"))
    : ((e.name = "dropdownBtn"), dropdownMenu.classList.add("hidden"));
}

  window.addEventListener("mouseup", function (event) {
    dropdownMenu.classList.add("hidden");
  });
</script>
