{% load static %} {% with obj=curr_obj %}
<!--  -->
{% if appointment_details_page %}
<!--  -->
<section class="relative grid gap-4 lg:p-6 h-full md:h-full md:w-full">
    <div
      class="absolute top-0 right-0 w-fit"
      hx-get="{% url 'appointment_status' curr_obj.id %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
  <!-- appointment details -->
{% include 'base/components/appointments/info.html' %}
</section>
<!--  -->
{% endif %}
<!--  -->
{% endwith %}
