{% load static %}
<!--  -->
<div class="relative h-fit md:h-full md:w-full">
  <div class="absolute top-0 right-0 flex items-center gap-1">
    {% with obj=curr_obj %}
    <!--  -->
    <div hx-swap-oob="true"></div>
    <div class="hidden sm:inline">
      {% include 'base/components/status_badge.html' %}
    </div>
    <div class="sm:hidden">
      {% include 'base/components/status_badge_alt.html' %}
    </div>
    <!--  -->
    {% if curr_obj.host == user%}
    <!--  -->
    {% include 'base/components/status_changer_alt.html' %}
    <!--  -->
    {% endif %}
    <!--  -->
    {% endwith %}
  </div>

  <h2
    class="md:pt-10 xl:pt-0 font-bold text-lg md:text-xl lg:text-2xl text-black"
  >
    {{curr_obj.civility}} {{curr_obj.guest}}
  </h2>
  {% if visit_details_page %}
  <a
    href="{% url 'user_profile' curr_obj.host.id %}"
    class="cursor-pointer italic text-purple-700 hover:underline"
  >
    <span>@{{curr_obj.host.username}}</span>
    <i
      class="fa-solid fa-arrow-up-right-from-square text-sm text-gray-400 mr-3"
    ></i>
  </a>
  {% endif %}
  <div class="mt-4 flex flex-col gap-2 text-gray-500">
    <p>
      <i class="fa-solid fa-layer-group text-gray-400 mr-3"></i> Context de la
      visite :
      <span class="text-black"> {{curr_obj.context|title}} </span>
    </p>
    <p>
      <span class="text-black">
        <i class="fa-solid fa-flag text-gray-400 mr-3"></i> Nationalité :
        {{curr_obj.nationality}}
      </span>
    </p>
    <p>
      <i class="fa-solid fa-venus-mars text-gray-400 mr-3"></i> Sexe :
      <span class="text-black"> {{curr_obj.get_gender_display|title}} </span>
    </p>
    <p>
      <i class="fa-solid fa-calendar-days text-gray-400 mr-3"></i> Date :
      {{curr_obj.date}}
    </p>
    <p>
      <i class="fa-solid fa-clock text-gray-400 mr-3"></i> Arrivée à :
      <span class="text-black"> {{curr_obj.arrived_at}} </span>
    </p>
    <p>
      <i class="fa-solid fa-hourglass-start text-gray-400 mr-3"></i> Accepté(e)
      à :
      <span class="text-black"> {{curr_obj.accepted_at}} </span>
    </p>
    <p>
      <i class="fa-solid fa-id-card text-gray-400 mr-3"></i> Type de piece
      d'identite :
      <span class="text-black"> {{curr_obj.id_doc|title}} </span>
    </p>
    <p>
      <i class="fa-solid fa-hashtag text-gray-400 mr-3"></i> Numero de la piece
      d'identite :
      <span class="text-black"> {{curr_obj.doc_num|title}} </span>
    </p>
    <p>
      <i class="fa-solid fa-phone text-gray-400 mr-3"></i> Numero de telephone :
      <span class="text-black"> {{curr_obj.tel|title}} </span>
    </p>
  </div>
</div>
