{% extends 'main.html' %} {% load static %} {% block content %}

<div class="mb-4 p-4 border-2 rounded-md">
  {% if visit %}
  <h1 class="mb-2 text-black text-lg font-bold">
    Rendez-vous de {{appointment.civility}} {{appointment.guest}}
  </h1>
  {% else %}
  <h1 class="mb-2 text-black text-lg font-bold">
    Ajouter un nouveau rendez-vous
  </h1>
  {% endif %}
  <!--  -->
  {% if form %}
  <div class="flex flex-col lg:flex-row justify-between items-start">
    <form
      class="p-4 w-full bg-gray-100 rounded-md text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 lg: grid-cols-3 gap-4">
        {% csrf_token %} {% for field in form %}
        <div>
          <h3 class="mb-1">{{field.label}}</h3>
          {{field}}
        </div>
        {% endfor %}
      </div>

      <input
        class="mt-4 px-4 py-2 bg-black hover:bg-purple-900 text-white rounded-md cursor-pointer"
        type="submit"
        value="Enregistrer"
      />
    </form>
    <image
      class="h-80"
      src="{% static 'imgs/schedule.png' %}"
      alt="reception image"
    />
  </div>
  {% endif %}
</div>
{% endblock %}
