{% extends 'main.html' %} {% load static %} {% block content %}

<div
  class="p-6 bg-gray-100 border-2 rounded-md flex flex-col md:flex-row gap-8 justify-between items-center"
>
  <article class="w-5/7">
    <h1 class="text-black text-3xl lg:text-7xl font-bold">Tableau de board</h1>
    <p class="mt-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem rem
      molestias inventore placeat quod voluptate beatae repudiandae delectus
      aperiam molestiae vero incidunt facere, voluptatem facilis porro harum in
      eos voluptatibus laborum! Sint enim consequuntur totam quo obcaecati.
      Dolor facilis deleniti sapiente ullam deserunt.
    </p>
  </article>
  <img
    class="h-80"
    src="{% static 'imgs/dashboard.png' %}"
    alt="welcome image"
  />
</div>

{% endblock %}
