{% extends 'main.html' %} {% load static %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div
  class="p-6 bg-gray-50 border rounded-xl flex flex-col md:flex-row gap-8 justify-between items-center"
>
  <article class="w-5/7">
    <h1 class="text-black text-3xl lg:text-7xl font-bold">Tableau de board</h1>
    <p class="mt-4">
      Avec ce tableau de board vous avez toujours à votre disposition, un aperçu
      de la situation générale des visites et rendez-vous de votre compagnie.
    </p>
  </article>
  <!-- <i class="fa-solid fa-bars-progress text-gray-400 text-5xl"></i> -->
  <img
      class="w-fit h-[300px] rounded-xl object-cover"
        src="{% static 'vectors/dash.avif' %}"
    alt="welcome image"
  />
</div>

{#% include 'base/partials/dash_overview.html' %#}

<div
  class="dash_overview w-full min-h-[calc(100vh-400px)] h-full flex flex-col"
  hx-get="{% url 'dash_overview' %}"
  hx-trigger="load, db_changed from:body"
  hx-target="this"
>
  <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
</div>

{% endblock %}
