{% extends 'main.html' %} {% load static %}

<!--  -->
{% block content %}
<div class="grid gap-8 mb-8">
  <div
    class="p-6 bg-gray-100 border border-gray-300 rounded-xl flex flex-col md:flex-row gap-8 justify-between items-center"
  >
    <article class="w-5/7 max-w-[800px]">
      <h1 class="text-black text-3xl lg:text-7xl font-bold">Dermepro</h1>
      <p class="mt-4">
        Derme Pro, votre application de gestion des visiteurs est un outil qui
        permet de suivre et de contrôler les entrées et les sorties des
        visiteurs dans un bâtiment ou dans une zone spécifique.
      </p>
    </article>
  </div>

  <!----------------------------------------- status quo ----------------------------------------->

  <button
    class="hidden"
    id="status_quo_reloader"
    hx-target=".users_status_quo"
    hx-get="{% url 'users_status_quo' %}"
  ></button>

  <!-- {% if user.role.sec_level >= 4 %}
  <div
    class="users_status_quo mt-2 w-full"
    hx-get="{% url 'users_status_quo' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  > <div class="flex justify-center items-center bg-red-100 p-4 border border-red-300 rounded-lg">

    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>
  </div>
  </div>
  {% endif %} -->
  
  <!-------------------- missed visits -------------------->
  <div
    class="w-full missed_visits"
    hx-get="{% url 'missed_visits' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  > <div class="flex justify-center items-center bg-red-100 p-4 border border-red-300 rounded-lg">
    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>
  </div>
  </div>

  <!-------------------- ongoing appointments -------------------->
  <div
    class="w-full ongoing_appointments"
    hx-get="{% url 'ongoing_appointments' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  > <div class="flex justify-center items-center bg-amber-100 p-4 border border-amber-300 rounded-lg">

    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>
  </div>
  </div>

  <!-------------------- ongoing visits -------------------->
  <div
    class="w-full ongoing_visits"
    hx-get="{% url 'ongoing_visits' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  > <div class="flex justify-center items-center bg-purple-100 p-4 border border-purple-300 rounded-lg">

    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>
  </div>
  </div>

  <!----------------------------------------- visits ----------------------------------------->

  <div
    class="w-full pending_visits"
    hx-get="{% url 'pending_visits' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  > <div class="flex justify-center items-center  border border-purple-400 rounded-lg">

    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>
  </div>
  </div>

  <!----------------------------------------- appointments ----------------------------------------->

  {% if user.role.sec_level > 1 %}
  <div class="p-4 border border-purple-400 rounded-xl">
    <div class="flex justify-between items-center">
      <h3 class="text-black text-xl font-bold">Rendez-vous du jour</h3>
      {% if user.role.sec_level >= 4 %}
      <button
        hx-target="#basic_dialog"
        hx-get="{% url 'create_appointment' %}"
      class="w-fit px-3 py-2 border border-purple-400 bg-purple-100 text-sm text-black hover:bg-purple-200 flex items-center rounded-lg transition duration-200 ease-in"
      >
        <span class="hidden md:inline mr-2">Nouveau rendez-vous</span>
        <i class="fa-solid fa-plus"></i>
      </button>
      {% endif %}
    </div>

    <!-- Appointments of the day -->

    <div
      class="mt-4 w-full"
      hx-get="{% url 'calendar_day' day %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ><div class="py-4 flex justify-center items-center rounded-lg">

    <i class="m-auto fas fa-spinner fa-spin text-3xl mx-auto animate-spin"></i>

  </div>
  {% endif %}
</div>
{% endblock %}
