{% extends 'main.html' %} {% load static %}

<!--  -->
{% block content %}
<div>
  <div
    class="p-6 bg-purple-50 border border-purple-300 rounded-lg flex flex-col md:flex-row gap-8 justify-between items-center"
  >
    <article class="w-5/7 max-w-[800px]">
      <h1 class="text-black text-3xl lg:text-7xl font-bold">Dermepro</h1>
      <p class="mt-4">
        Derme Pro, votre application de gestion des visiteurs est un outil qui
        permet de suivre et de contrôler les entrées et les sorties des
        visiteurs dans un bâtiment ou dans une zone spécifique.
      </p>
    </article>
  </div>

  <!----------------------------------------- status quo ----------------------------------------->

  <button
    class="hidden"
    id="status_quo_reloader"
    hx-target=".users_status_quo"
    hx-get="{% url 'users_status_quo' %}"
  ></button>

  <div class="mt-8 p-4 border rounded-lg">
    {% if user.role.sec_level >= 4 %}
    <div
      class="users_status_quo mt-2 w-full"
      hx-get="{% url 'users_status_quo' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
    {% endif %}
    <!-------------------- ongoing appointments -------------------->
    <div
      class="w-full mt-4 ongoing_appointments"
      hx-get="{% url 'ongoing_appointments' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
    <!-------------------- ongoing visits -------------------->
    <div
      class="w-full mt-4 ongoing_visits"
      hx-get="{% url 'ongoing_visits' %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
  </div>

  <!----------------------------------------- visits ----------------------------------------->

  <div class="mt-8 p-4 border rounded-lg">
    <div class="flex justify-between items-center">
      <h3 class="text-black text-xl font-bold">File d'attente des visites</h3>
      {% if user.role.sec_level >= 4 %}
      <button
        hx-target="#basic_dialog"
        hx-get="{% url 'create_visit' %}"
        class="w-fit px-3 py-2 bg-purple-200 text-sm hover:bg-purple-300 flex items-center rounded-md cursor-pointer transition duration-200 ease-in"
      >
        <span class="hidden md:inline mr-2">Nouvelle visite</span>
        <i class="fa-solid fa-plus"></i>
      </button>
      {% endif %}
    </div>

    <!-- pending visits list -->
    <div
      class="my-4 flex flex-col md:flex-row justify-between md:items-center gap-8"
    >
      <img
        class="md:hidden lg:inline h-80 object-contain"
        src="{% static 'imgs/waiting.png' %}"
        alt="welcome image"
      />
      <div
        class="w-full pending_visits"
        hx-get="{% url 'pending_visits' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>
  </div>

  <!----------------------------------------- appointments ----------------------------------------->

  {% if user.role.sec_level > 1 %}
  <div class="mt-8 p-4 border rounded-lg">
    <div class="flex justify-between items-center">
      <h3 class="text-black text-xl font-bold">Rendez-vous du jour</h3>
      <button
        hx-target="#basic_dialog"
        hx-get="{% url 'create_appointment' %}"
        class="w-fit px-3 py-2 bg-purple-200 text-sm hover:bg-purple-300 flex items-center rounded-md cursor-pointer transition duration-200 ease-in"
      >
        <span class="hidden md:inline mr-2">Nouveau rendez-vous</span>
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <!-- Appointments of the day -->

    <div
      class="mt-4 w-full"
      hx-get="{% url 'calendar_day' day %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
  </div>
  {% endif %}
</div>
{% endblock %}
