{% extends 'main.html' %} {% load static %} {% block content %}
<!--  -->

<!-- ---------------------------objs and notifications sidebar--------------------------------->
<div class="mx-auto p-6 bg-gray-100 border border-2 rounded-md">
  <div>
    <h1 class="mb-2 text-black text-xl font-bold">
      Mes notifications <i class="fa-regular fa-message-exclamation"></i>
    </h1>
    <span class="" id="count_badge"></span>

    <div class="mt-4 flex flex-col md:flex-row flex-wrap gap-4">
      {% if not notifications %}
      <!--------------------------------------- No data placeholder --------------------------------------->
      <div class="p-8 my-40 w-full mx-auto rounded-md flex-col text-center">
        <i class="fa-regular fa-folder-open text-7xl"></i>
        <p class="mt-4">
          Aucun nouvelle notification disponible pour le moment
        </p>
      </div>

      {% else %}
      <!--  -->
      {% for obj in notifications %}
      <div
        class="contact-li p-6 border hover:border-purple-700 h-full w-60 flex flex-col items-center text-center gap-2 bg-white hover:shadow-md rounded-md"
      >
        <form action="{% url 'read_notification' obj.id %}" method="POST">
          {% csrf_token %}
          <input
            type="submit"
            value="lire"
            class="px-4 py-1 bg-black text-white hover:bg-purple-950 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer mx-auto w-full"
          />
          <img
            class="lg:block w-20 h-20 rounded-full mx-auto"
            src="{% static 'imgs/rand.webp' %}"
            alt="Rounded avatar"
          />
          <p class="text-purple-950 font-bold">
            {% for user_obj in users %}
            <!--  -->
            {% if user_obj.id == obj.chat.sender %}
            <!--  -->
            @{{user_obj.username}}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </p>
          <p>{{obj.chat.message|truncatechars:20}}</p>
        </form>
      </div>
      {% endfor %}
      <!--  -->
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
