{% extends 'main.html' %} {% load static %} {% block content %}

<div
  class="p-6 bg-gray-50 border rounded-xl flex flex-col md:flex-row gap-8 justify-between items-center"
>
  <article class="w-full">
    <h1 class="text-black text-3xl lg:text-5xl xl:text-7xl font-bold">Parametrage</h1>
    <p class="mt-4">
      Gerer les parametres votre solution de gestion des visites et de rendez-vous ici.
    </p>
  </article>
  <i class="fa-solid fa-sliders text-gray-400 text-9xl"></i>
</div>
<!--------------------------------------- menu tabs buttons --------------------------------------->
<div
  class="my-4 tabbar w-full p-1 bg-purple-950 rounded-lg flex justify-between gap-1 h-fit w-full text-sm"
>
  <button
    class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
    onclick="openTab(event, 'company')"
    id="defaultTab"
  >
    <i class="fa-solid fa-building-columns"></i>
    <span class="hidden lg:inline lg:ml-2">Compagnie</span>
  </button>
  <button
    class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
    onclick="openTab(event, 'users')"
  >
    <i class="fa-solid fa-people-group"></i>
    <span class="hidden lg:inline lg:ml-2">Utilisateurs</span>
  </button>
  <button
    class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
    onclick="openTab(event, 'roles')"
  >
    <i class="fa-solid fa-shield"></i>
    <span class="hidden lg:inline lg:ml-2">Rôles</span>
  </button>
  <button
    class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
    onclick="openTab(event, 'workdays')"
  >
    <i class="fa-solid fa-calendar-days"></i>
    <span class="hidden lg:inline lg:ml-2">Jours de travail</span>
  </button>
</div>

<!-- company info -->
<section id="company" class="tabcontent relative my-4 border border p-4 rounded-xl"
>
  <!-- admin actions -->
  {% if user.role.sec_level >= 4 %}
  <button
    onclick="hide_dialogs()"
    hx-target="#basic_dialog"
    hx-get="{% url 'edit_company' curr_comp.id %}"
    class="absolute top-6 right-6 px-2 py-1 bg-white hover:bg-purple-400 rounded-md hover:text-black"
  >
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  {% endif %}
  <div class="grid lg:grid-cols-2 gap-4">
    <div class="flex flex-col gap-2 p-4 border rounded-lg">
      <h3 class="4 text-black text-4xl font-bold">{{curr_comp.name}}</h3>
      <small class="text-black italic">
        <i class="fa-solid fa-quote-left"></i>
        {{curr_comp.slogan}}
        <i class="fa-solid fa-quote-right"></i>
      </small>
      <p class="text-black">
        <i class="fa-solid fa-copyright text-purple-700 mr-2"></i>
        {{curr_comp.company_type}}
      </p>
      <p class="text-black">
        <i class="fa-solid fa-phone text-purple-700 mr-2"></i>
        {{curr_comp.phone}}
      </p>
      <p class="text-black">
        <i class="fa-solid fa-envelope text-purple-700 mr-2"></i>
        {{curr_comp.email}}
      </p>
      <p class="text-black">
        <i class="fa-solid fa-calendar-days text-purple-700 mr-2"></i>
        {{first_day.fr_name}} - {{last_day.fr_name}}
      </p>
      <p class="text-black">
        <i class="fa-solid fa-clock text-purple-700 mr-2"></i>
        {{curr_comp.opening_time}} - {{curr_comp.closing_time}}
      </p>
      {% for obj in exceptional_days %}
        <div
          class="grid gap-1 p-4 bg-amber-100 border border-amber-400 rounded-lg"
        >
          <!-- admin actions -->
          {% if user.role.sec_level >= 4 %}
          <button
            onclick="hide_dialogs()"
            hx-target="#basic_dialog"
            hx-get="{% url 'edit_workday' obj.id %}"
            class="absolute top-2 right-2 px-2 py-1 text-sm text-gray-300 hover:text-purple-700 rounded-md hover:text-black"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          {% endif %}
          <p>
            <i class="fa-solid fa-calendar-days group-hover:text-purple-700 transition duration-200 ease-in"></i>
            <span class="font-bold group-hover:text-purple-700 transition duration-200 ease-in">{{obj.fr_name}}</span>
          </p>
          <p class="text-gray-500 text-sm">
            <i class="fa-solid fa-clock"></i>
            <span>{{obj.opening_time}} - {{obj.closing_time}}</span>
          </p>
        </div>
      {% endfor %}
    </div>
    <article class="flex flex-col gap-1 p-4 bg-purple-100 rounded-lg">
      <span class="text-lg text-black font-bold">Description</span>
      <p class="shortened">{{curr_comp.description|truncatechars:1001}}</p>
    </article>
  </div>
</section>
<!-- users params -->
<section id="users" class="tabcontent hidden my-4 border border p-4 rounded-xl">
  <div class="pb-4 flex flex-col gap-3">
    <div class="flex justify-between items-center">
      <h3 class="text-black text-lg font-bold">Utilisateurs</h3>
      {% if user.role.sec_level >= 4 %}
      <button
        hx-target="#basic_dialog"
        hx-get="{% url 'create_user' %}"
        class="w-fit px-3 py-2 bg-purple-200 text-sm hover:text-black hover:bg-purple-300 flex items-center rounded-lg transition duration-200 ease-in"
      >
        <span class="mr-2">Nouvel utilisateur</span>
        <i class="fa-solid fa-user-plus"></i>
      </button>
      {% endif %}
    </div>

   <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      {% for obj in users %}
      <div
          hx-get="{% url 'user_alt' obj.id   %}"
          hx-target="#basic_dialog"
          hx-swap="innerHTML" 
          class="relative cursor-pointer p-4  h-100  border hover:border-purple-700  hover:shadow-md rounded-md"
      >
      <article>
        <h3 class="font-bold text-black text-md">
          {{obj.last_name}} {{obj.first_name}}
        </h3>
        <p class="font-bold text-purple-900 text-sm">@{{obj.username}}</p>
      </article>
      <div class="absolute bottom-3 right-2 text-xs">
      {% include 'accounts/components/time_badge.html' %}
      </div>
      </div>
      {% endfor %}
    </div>
</section>
<!-- roles params -->
<section id="roles" class="tabcontent hidden my-4 border border p-4 rounded-xl">
  <div class="w-full">
    {% if not user_roles %}
    <h3 class="mb-2 bg-gray-100 p-4 rounded-md text-center mx-auto">
      Aucun rôle enregistré
    </h3>
    {% else %}
    <h3 class="mb-4 text-black text-lg font-bold">Rôles des utilisateurs</h3>
    <div class="flex gap-4 items-center">
      <!-- <i class="fa-solid fa-shield text-gray-400 text-3xl"></i> -->
      <!-- <img
        class="h-60 object-cover"
        src="{% static 'imgs/admin.png' %}"
        alt="welcome image"
      /> -->
      <div class="w-full mb-4 grid md:grid-cols-2 xl:grid-cols-3 gap-4">
        {% for obj in user_roles %}
        <div
          class="relative grid p-4 h-100 border group hover:border-purple-700 hover:shadow-md rounded-md transition duration-200 ease-in"
        >
          <i
            class="fa-solid fa-shield absolute top-4 right-4 text-md text-gray-300 group-hover:text-purple-700 transition duration-200 ease-in"
          ></i>
          <p>
            Rôle |
            <span
              class="font-bold group-hover:text-purple-700 transition duration-200 ease-in"
              >{{obj.name}}</span>
          </p>
          <p>
            Niveau de securité |
            <span
              class="font-bold group-hover:text-purple-700 transition duration-200 ease-in"
              >{{obj.sec_level}}</span>
          </p>
          <!-- <p>Description | {{obj.description}}</p> -->
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- workdays params -->
<section id="workdays" class="tabcontent hidden my-4 border border p-4 rounded-xl">
  <div class="w-full">
    {% if not workdays %}
    <h3 class="mb-2 bg-gray-100 p-4 rounded-md text-center mx-auto">
      Aucun jour enregistré
    </h3>
    {% else %}
    <h3 class="mb-4 text-black text-lg font-bold">Jours de travail</h3>
    <div class="flex gap-4 items-center">
      <div class="w-full mb-4 grid md:grid-cols-2 xl:grid-cols-3 gap-4">
        {% for obj in workdays %}
        <div
          class="relative grid gap-1 p-4 h-100 border group hover:border-purple-700 hover:shadow-md rounded-md transition duration-200 ease-in"
        >
          <!-- admin actions -->
          {% if user.role.sec_level >= 4 %}
          <button
            onclick="hide_dialogs()"
            hx-target="#basic_dialog"
            hx-get="{% url 'edit_workday' obj.id %}"
            class="absolute top-2 right-2 px-2 py-1 text-sm text-gray-300 hover:text-purple-700 rounded-md hover:text-black"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          {% endif %}
          <p>
            <i
              class="fa-solid fa-calendar-days group-hover:text-purple-700 transition duration-200 ease-in"
            ></i>
            <span
            class="font-bold group-hover:text-purple-700 transition duration-200 ease-in"
            >{{obj.fr_name}}</span>
          </p>
          <p class="text-gray-400 text-sm">
            <i
              class="fa-solid fa-clock"
            ></i>
            {% if not obj.opening_time %}
            <span>{{curr_comp.opening_time}}</span>
            {% else %}
            <span>{{obj.opening_time}}</span>
            {% endif %}
            -
            {% if not obj.closing_time %}
            <span>{{curr_comp.closing_time}}</span>
            {% else %}
            <span>{{obj.closing_time}}</span>
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>



<!-- tabs control -->
<script>
document.getElementById("defaultTab").click();
function openTab(event, tabName) {
  var i, tabcontent, tabBtn;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tabBtn = document.getElementsByClassName("tabBtn");
  for (i = 0; i < tabBtn.length; i++) {
    tabBtn[i].className = tabBtn[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  event.currentTarget.className += " active";
  var minitabs = document.getElementsByClassName("minitabcontent");
  if (minitabs.length != 0) {
    minitabs = tabcontent.children;
  }
}
</script>
{% endblock %}
