{% extends 'main.html' %} {% load static %} {% block content %}

  <div
  class="p-6 bg-gray-100 border-2 rounded-md flex flex-col md:flex-row gap-8 justify-between items-center"
  >
    <article class="w-5/7">
      <h1 class="text-black text-3xl lg:text-7xl font-bold">Parametrage</h1>
      <p class="mt-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem rem
        molestias inventore placeat quod voluptate beatae repudiandae delectus
        aperiam molestiae vero incidunt facere, voluptatem facilis.
      </p>
    </article>
    <img
      class="h-60"
      src="{% static 'imgs/params.png' %}"
      alt="welcome image"
    />
  </div>

  <!-- user roles params -->
  <div class="my-8 border border-2  p-4 rounded-md">

      <!-- user roles quick view -->
      <div class="w-full">
        {% if not user_roles %}
        <h3
          class="mb-2 bg-gray-100 p-4 rounded-md text-center font-light mx-auto"
        >
          Aucun rôle enregistré
        </h3>
        {% else %}
        <h3
          class="mb-4 text-black text-lg font-bold"
        >
          Rôle des utilisateurs
        </h3>
        <div class="mb-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          {% for obj in user_roles %}
          <div
        class="p-4  h-100  border hover:border-purple-700  hover:shadow-md rounded-md"
          >
              <h3 class="font-bold text-black text-md">{{obj.name}}</h3>
            <p class="">
              Niveau de securité :
              <span class="text-amber-500 font-bold text-xl">
                {{obj.sec_level}}
              </span>
            </p>
            <p class="">
                {{obj.description}}
            </p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
