{% extends 'main.html' %} {% load static %}

<!--  -->
{% block content %}
<div class="grid gap-8">
  <!--------------------------------------- menu tabs buttons --------------------------------------->
  <div
    class="tabbar max-w-[500px] p-1 bg-purple-950 rounded-lg flex justify-between gap-1 h-fit w-full text-xs"
  >
    <button
      class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
      onclick="openTab(event, 'visits')"
      id="defaultTab"
    >
      <i class="fa-solid fa-user-tie"></i>
      <span class="hidden xl:inline lg:ml-2">Visites</span>
    </button>
    <button
      class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
      onclick="openTab(event, 'appointments')"
    >
      <i class="fa-solid fa-handshake"></i>
      <span class="hidden xl:inline lg:ml-2">Rendez-vous</span>
    </button>
    <button
      class="tabBtn px-4 py-2 bg-white hover:bg-purple-950 hover:text-white rounded-md w-full"
      onclick="openTab(event, 'users')"
    >
      <i class="fa-solid fa-users"></i>
      <span class="hidden xl:inline lg:ml-2">Utilisateurs</span>
    </button>
  </div>

  <!----------------------------------------- visits ----------------------------------------->
  <section id="visits" class="tabcontent  mb-4  grid gap-4">
    <div class="grid gap-2">
      <div class="flex justify-between items-center">
        <h3 class="text-black text-xl font-bold">Rapport des visites</h3>
        {% if user.role.sec_level >= 5 %}
        <div class="flex gap-2 text-black">
          <!-- <button
            onclick="generatePDF('visits_table')"
            class="w-fit px-3 py-2 bg-red-200 hover:bg-red-300 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-pdf lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format PDF
            </span>
          </button> -->
          <button
            id="export_visits"
            class="w-fit px-3 py-2 bg-green-300 hover:bg-green-400 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format XLSX
            </span>
          </button>
        </div>
        {% endif %}
      </div>
      <!-- visits table ------------------------------------------------------------->
      {% include 'base/partials/visits/report.html' %}
    </div>
  </section>

  <!----------------------------------------- appointments ----------------------------------------->
  <section id="appointments" class="tabcontent mb-4 hidden grid gap-4">
    <div class="grid gap-2">
      <div class="flex justify-between items-center">
        <h3 class="text-black text-xl font-bold">Rapport des rendez-vous</h3>
        {% if user.role.sec_level >= 5 %}
        <div class="flex gap-2 text-black">
          <!-- <button
            onclick="generatePDF('appointments_table')"
            class="w-fit px-3 py-2 bg-red-200 hover:bg-red-300 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-pdf lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format PDF
            </span>
          </button> -->
          <button
            id="export_appointments"
            class="w-fit px-3 py-2 bg-green-300 hover:bg-green-400 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format XLSX
            </span>
          </button>
        </div>
        {% endif %}
      </div>
      <!-- appointments table ------------------------------------------------------------->
      {% include 'base/partials/appointments/report.html' %}
    </div>
  </section>

  <!----------------------------------------- users ----------------------------------------->
  <section id="users" class="tabcontent  mb-4 hidden grid gap-4">
    <div class="grid gap-2">
      <div class="flex justify-between items-center">
        <h3 class="text-black text-xl font-bold">Rapport des utilisateurs</h3>
        {% if user.role.sec_level >= 5 %}
        <div class="flex gap-2 text-black">
          <!-- <button
            onclick="generatePDF('users_table')"
            class="w-fit px-3 py-2 bg-red-200 hover:bg-red-300 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-pdf lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format PDF
            </span>
          </button> -->
          <button
            id="export_users"
            class="w-fit px-3 py-2 bg-green-300 hover:bg-green-400 rounded-lg transition duration-200 ease-in"
          >
            <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
            <span class="hidden md:inline text-sm">
              Extraire en format XLSX
            </span>
          </button>
        </div>
        {% endif %}
      </div>
      <!-- users table ------------------------------------------------------------->
      {% include 'base/partials/users/report.html' %}
    </div>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.0.0-rc.5/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script>
  //  tabs control ----------------------------------------------------------------------------------------------------
  document.getElementById("defaultTab").click();
  function openTab(event, tabName) {
    var i, tabcontent, tabBtn;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tabBtn = document.getElementsByClassName("tabBtn");
    for (i = 0; i < tabBtn.length; i++) {
      tabBtn[i].className = tabBtn[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    event.currentTarget.className += " active";
    var minitabs = document.getElementsByClassName("minitabcontent");
    if (minitabs.length != 0) {
      minitabs = tabcontent.children;
    }
  }

  // ----------------------------pdf generator and exporter-------------------------------

  function generatePDF(div_id) {
  var doc = new jsPDF();
  html2canvas(document.getElementById(div_id))
    .then(canvas => {
      const imgData = canvas.toDataURL('image/png');
      doc.addImage(imgData, 'PNG', 0, 0);
      doc.save(`${div_id}.pdf`);
    });
    // Save the PDF
  }

  // ----------------------------appointments exporter-------------------------------
  document
    .getElementById("export_visits")
    .addEventListener("click", function () {
      // Hide the "more_visits" row
      const moreUsers = document.getElementById("more_visits");
      if (moreUsers) {
        moreUsers.style.display = "none";
      }
      // Create a new Excel workbook
      const wb = XLSX.utils.book_new();

      // Create a new worksheet
      const ws = XLSX.utils.table_to_sheet(
        document.getElementById("visits_table")
      );
      // Add the worksheet to the workbook
      XLSX.utils.book_append_sheet(wb, ws, "Filtered Visits");

      // Save the workbook as an Excel file
      XLSX.writeFile(wb, "filtered_visits.xlsx");
    });

  // ----------------------------appointments exporter-------------------------------

  document
    .getElementById("export_appointments")
    .addEventListener("click", function () {
      // Hide the "more_visits" row
      const moreAppointments = document.getElementById("more_appointments");
      if (moreAppointments) {
        moreAppointments.style.display = "none";
      }
      // Create a new Excel workbook
      const wb = XLSX.utils.book_new();

      // Create a new worksheet
      const ws = XLSX.utils.table_to_sheet(
        document.getElementById("appointments_table")
      );
      // Add the worksheet to the workbook
      XLSX.utils.book_append_sheet(wb, ws, "Filtered Appointment");

      // Save the workbook as an Excel file
      XLSX.writeFile(wb, "filtered_appointments.xlsx");
    });

  // ----------------------------users exporter-------------------------------
  document
    .getElementById("export_users")
    .addEventListener("click", function () {
      // Hide the "more_visits" row
      const moreUsers = document.getElementById("more_users");
      if (moreUsers) {
        moreUsers.style.display = "none";
      }
      // Create a new Excel workbook
      const wb = XLSX.utils.book_new();

      // Create a new worksheet
      const ws = XLSX.utils.table_to_sheet(
        document.getElementById("users_table")
      );

      // Add the worksheet to the workbook
      XLSX.utils.book_append_sheet(wb, ws, "Filtered Users");

      // Save the workbook as an Excel file
      XLSX.writeFile(wb, "filtered_users.xlsx");
    });
</script>
{% endblock %}
