<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

{% load static %}
<!--  -->
{% if curr_obj %}
<!--  -->
<section class="pb-8 flex flex-col w-full h-full gap-4">
  <div class="flex flex-row-reverse">
    <div
      class="top-0 right-0 w-fit"
      hx-get="{% url 'visit_status' curr_obj.id %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
  </div>
  <!-- visit details -->
  <section
    id="details"
    class="h-fit w-full flex flex-col xl:flex-row justify-between xl:items-center gap-4"
  >
    <!-- visit info -->
    {% include 'base/components/visits/info.html' %}
    <!-- badge generator -->
    {% if user.role.sec_level >= 4 %}
    <div>
      {% if curr_obj.status.id == 2 and not curr_obj.is_finished %}
      <div
        id="badge_viewer"
        class="w-full xl:max-w-[260px] 2xl:max-w-[360px] min-h-80 h-full p-4 bg-gray-50 border rounded-lg flex flex-col justify-center items-center gap-4 overflow-hidden"
      >
        <div
          class="badge_generator flex flex-col justify-center items-center gap-3"
        >
          <i class="fa-solid fa-qrcode text-8xl"></i>
          <a
            hx-get="{% url 'generate_visit_badge' curr_obj.id %}"
            hx-swap="outerHTML"
            hx-target=".badge_generator"
            class="px-4 py-2 bg-gray-400 hover:bg-gray-500 text-sm text-white rounded-md transition duration-200 ease-in cursor-pointer"
            >Generer un badge</a
          >
        </div>
      </div>
      {% elif curr_obj.is_finished and curr_obj.status.id == 2 %}
      <!--  -->
      {% include 'base/components/visits/sign_pad.html' %}
      <!--  -->
      {% elif curr_obj.signature and curr_obj.status.id == 3 %}
      <!-- signature viewer -->
      <div
        class="w-full xl:max-w-[260px] 2xl:max-w-[360px] min-h-80 h-full p-4 bg-sky-200 rounded-xl flex flex-col justify-center items-center gap-4 overflow-hidden"
      >
        <div
          class="w-full h-full p-6 bg-sky-50 rounded-xl flex flex-col justify-center items-center gap-4 overflow-hidden"
        >
          <img src="{{ curr_obj.signature.url }}" alt="Signature" />
        </div>
        <hr class="mx-6" />
        <small class="italic font-light text-xs text-gray-800"
          >Visiteur parti, le {{ curr_obj.date}} à {{curr_obj.finished_at}}.
        </small>
      </div>
      {% endif %}
      <!-- signature validator -->
      <div
        id="signature_validator"
        class="hidden w-full h-full xl:max-w-[260px] 2xl:max-w-[360px] grid gap-2"
      >
        <div
          class="w-full h-full p-6 bg-gray-50 border rounded-lg flex flex-col justify-center items-center gap-4 overflow-hidden"
        >
          <img id="new_signature" src="" alt="Signature" />
        </div>
        <button
          id="finishBtn"
          hx-post="{% url 'moderate_visit' curr_obj.id 3 %}"
          hx-target=".obj_status{{curr_obj.id}}, .visit_details"
          hx-trigger="click"
          hx-swapp="outerHTML"
          class="p-2 w-full flex justify-center items-center hover:text-black bg-green-100 hover:bg-green-300 rounded-md w-full text-center {% if curr_obj.status.id == 3 %} cursor-none pointer-events-none opacity-50 disabled {% endif %}"
        >
          <i class="text-sm hover:text-black fa-solid fa-hourglass-end mr-2"></i>
          Terminer la visite
        </button>
        <hr class="mx-6 my-1" />
        <small class="italic font-light text-xs text-gray-600 text-center"
          >NB: En cliquant sur ce button, cette visite aura le status "Terminé".
          Vous ne pourrez donc plus la modifier.
        </small>
      </div>
    </div>
    {% endif %}
  </section>
</section>
{% endif %}

<script>
document.getElementById('finishBtn').addEventListener('click', (e) => {
    e.target.classList.add('hidden');
});
</script>