{% extends 'main.html' %} {% load static %} {% block content %}

<div class="mb-4 p-4 border-2 rounded-md">
  <div
    class="mb-4 flex justify-between items-center text-center font-light mx-auto"
  >
    <h1 class="text-md lg:text-lg text-black font-bold">Visites récemment cloturées</h1>

    {% if user.role.sec_level >= 5 %}
    <a
      class="lg:inline active hover:bg-purple-950 hover:text-white p-2 rounded-md font-light"
      href="{% url 'visit_csv' %}"
    >
      <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
      <span class="hidden lg:inline font-base">
        Extraire les visites en fichier excel (CSV)
      </span>
    </a>
    {% endif %}
  </div>

  {% if not closed_visits %}
<!--  -->
{% include 'components/empty.html'%}
<!--  -->

  {% else %}

  <div class="flex flex-col md:flex-row justify-between items-start">
    <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      {% for e in closed_visits %}
      <a href="{% url 'visit' e.id  %}">
        <div
          class="p-4  h-100  border hover:border-purple-700  hover:shadow-md rounded-md"
        >
          <h3 class="font-bold text-black text-md">{{e.guest}}</h3>
          <h3 class="text-sm">{{e.date.date}}</h3>
          <h3 class="font-bold text-purple-900 text-sm">
            @{{e.host.username}}
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>
    <image
      class="h-80"
      src="{% static 'imgs/visit.png' %}"
      alt="reception image"
    />
  </div>
  {% endif %}
</div>

<!-- vists table -->

<div class="mt-6 w-full">
  {% if not visits %} 
  <!--  -->
{% include 'components/empty.html'%}
<!--  -->
 {% else %}
 <div class="mb-4 flex justify-between items-center">

   <h1 class="mb-2 text-black text-lg font-bold">Table des Visites</h1>
       <a
      class="lg:inline active hover:bg-purple-950 hover:text-white p-2 rounded-md font-light"
      href="{% url 'create_visit' %}"
    >
      <i class="inline fa-solid fa-plus lg:mr-2"></i>
      <span class="hidden lg:inline font-base">
        Ajouter une nouvelle visite
      </span>
    </a>
 </div>
    <div class="rounded-md bg-gray-100 overflow-hidden">
      <table
        class="w-full h-full text-left db-table border border-black overflow-hidden"
      >
        <thead class="bg-black text-white font-bold">
          <tr>
            <th class="p-4 text-sm">Invité</th>
            <th class="p-4 text-sm">Hôte</th>
            <th class="hidden md:block p-4 text-sm">Telephone</th>
            <th class="p-4 text-sm">Date</th>
            <th class="p-4 text-sm">Status</th>
            <th class="p-4 text-sm">Actions</th>
          </tr>
        </thead>
        <tbody class="overflow-hidden">
          {% for e in visits %}
          <tr
            class="text-gray-600 border text-sm hover:bg-purple-50 hover:text-black transition-all duration-50"
          >
            <td class="p-3">{{e.guest}}</td>
            <td class="p-3">{{e.host.username}}</td>
            <td class="hidden md:block p-3">{{e.tel}}</td>
            <td class="p-3">{{e.date.date}}</td>
            <!-- <td class="p-3">{{e.time}}</td> -->
            <td class="">
              {% if e.status == 'pending' %}
              <h4
                class="py-1 bg-sky-500 rounded-md text-xs text-white w-full text-center"
              >
                En attente
              </h4>
              {% elif e.status == 'open' %}
              <h4
                class="py-1 bg-amber-500 rounded-md text-xs text-white w-full text-center"
              >
                En cours
              </h4>
              {% elif e.status == 'closed' %}
              <h4
                class="py-1 bg-green-500 rounded-md text-xs text-white w-full text-center"
              >
                Cloturée
              </h4>
              {% elif e.status == 'ajourned' %}
              <h4
                class="py-1 bg-purple-700 rounded-md text-xs text-white w-full text-center"
              >
                Ajournée
              </h4>
              {% else %}
              <h4
                class="py-1 bg-red-500 rounded-md text-xs text-white w-full text-center"
              >
                Annulée
              </h4>
              {% endif %}
            </td>
            </td>

            <td class="md:flex justify-around gap-2 max-w-[100px] mx-auto">
              <a
                href="{% url 'visit' e.id  %}"
                class="inline p-2 text-sm text-gray-500 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
              >
                <i class="fa-solid fa-eye hover:text-purple-700"></i>
              </a>
              {% if user.role.sec_level == 6 %}
              <a
                onclick="return confirm('Voulez vous supprimer ce Rendez-vous ?')"
                href="{% url 'delete_visit' e.id  %}"
                class="inline px-2 lg:px-4 py-2 text-sm text-gray-500 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
              >
                {% endif %}
                <i class="fa-solid fa-trash lg:mr-2 hover:text-red-700"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

</div>

{% endblock %}
