{% extends 'main.html' %} {% load static %} {% block content %}
<section id="visits_base">
  <div class="pb-4 flex flex-col gap-3">
    <!--------------------------------------- filter form --------------------------------------->
    {% if user.role.sec_level >= 4 %}
    <button
      hx-target="#basic_dialog"
      hx-get="{% url 'create_visit' %}"
      class="mb-2 w-fit px-3 py-2 bg-purple-200 text-sm hover:text-black hover:bg-purple-300 flex items-center rounded-lg transition duration-200 ease-in"
    >
      <span class="mr-2">Nouvelle visite</span>
      <i class="fa-solid fa-user-tie"></i>
    </button>
    {% else %}
    <div class="h-12"></div>
    {% endif %}
    <form
      hx-post="{% url 'filter_visits' %}"
      hx-target=".filtered_visits"
      class="p-1 w-full bg-purple-100 rounded-lg flex justify-between items-center gap-1 text-sm xl:text-sm"
    >
      {% csrf_token %}

      <div class="w-full flex justify-between items-center gap-1">
        {% if user.role.sec_level >= 4 %}
        <select
          name="host"
          class="hidden lg:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
        >
          <option value="" selected="true" disabled="disabled">Hôte</option>
          {% for obj in hosts %}
          <option value="{{obj.username}}">
            {{obj.last_name}} {{obj.first_name}}
          </option>
          {% endfor %}
        </select>
        {% endif %}
        <!-- date margin -->
        <input
          class="hidden lg:inline px-3 py-2 w-full rounded-md"
          type="date"
          name="min_date"
          placeholder="A partir du"
        />
        <input
          class="hidden lg:inline px-3 py-2 w-full rounded-md"
          type="date"
          name="max_date"
          placeholder="Jusqu'au"
        />
        <input
          hx-post="{% url 'filter_visits' %}"
          hx-target=".filtered_visits"
          hx-trigger="keyup changed delay:500ms"
          placeholder="Visiteur"
          name="name"
          type="text"
          class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-full max-w-[400px] border"
        />
        <!-- statuses -->
        <select
          name="status"
          class="px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
        >
          <option value="" selected="true" disabled="disabled">Status</option>
          {% for obj in statuses %}
          <option value="{{obj.id}}">{{obj.title}}</option>
          {% endfor %}
        </select>
        <!-- visit types -->
        <select
          name="type"
          class="hidden sm:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit 2xl:w-full border"
        >
          <option value="" selected="true" disabled="disabled">Cadre</option>
          <option value="familial">Amicale</option>
          <option value="friendly">Familiale</option>
          <option value="professional">Professionelle</option>
        </select>
        <!-- sex -->
        <select
          name="sex"
          class="hidden md:inline px-3 py-2 rounded-md focus:bg-gray-100 outilne-none w-fit"
        >
          <option value="" selected="true" disabled="disabled">Sexe</option>
          <option value="female">Feminin</option>
          <option value="male">Masculin</option>
        </select>
      </div>

      <button
        class="px-3 py-2 bg-purple-200 hover:bg-purple-400 hover:text-black rounded-md transition duration-200 ease-in"
        type="submit"
      >
        <i class="fa-solid fa-filter"></i>
      </button>
      <button
        class="px-3 py-2 bg-red-200 hover:bg-red-400 hover:text-black rounded-md transition duration-200 ease-in"
        hx-on:click="clearForm()"
        type="submit"
      >
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </form>
  </div>

  <!--------------------------------------- visits --------------------------------------->
  <section
    id="visits"
    class="h-[calc(100vh-96px)] lg:h-[calc(100vh-116px)] w-full flex gap-2"
  >
    <button
      class="hidden"
      id="visits_reloader"
      hx-target=".visit_list"
      hx-get="{% url 'visit_list' %}"
    ></button>

    <!--------------------------------------- visit list --------------------------------------->
    <div
      class="filtered_visits p-2 bg-purple-50 rounded-xl h-full w-full md:max-w-[230px] lg:max-w-[330px] flex flex-col gap-3 overflow-y-auto"
    >
      <div
        class="visit_list"
        hx-get="{% url 'visit_list' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>

    <!--------------------------------------- visit details --------------------------------------->

    <div
      class="visit_details hidden md:flex flex-col items-center justify-center h-full w-full p-6 border rounded-xl md:overflow-y-auto"
    >
      <img
        class="h-60 lg:h-80 bg-gray-100 rounded-full"
        src="{% static 'imgs/visit.png' %}"
        alt="welcome image"
      />
      <p class="mt-4 px-4 py-2 w-fit mx-auto bg-gray-100 text-sm rounded-xl">
        Cliquez sur une visite pour voir ses detail ici
      </p>
    </div>
  </section>

  <script>
    function clearForm() {
      var form = document.querySelector("form");
      form.reset();
    }
  </script>
</section>
{% endblock %}
