<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

{% load static %} {% with obj=curr_obj %}
<!--  -->
{% if visit_details_page %}
<!--  -->
<section class="relative grid gap-4 lg:p-6 h-full md:h-full md:w-full">
    <div
      class="absolute top-0 right-0 w-fit"
      hx-get="{% url 'visit_status' curr_obj.id %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
    
  <!-- visit details -->
    {% include 'base/components/visits/info.html' %}

</section>

{% endif %}
<!--  -->
{% endwith %}
