{% load static accounts_tags %}

<!--  mobile view -->

<div
  class="md:hidden relative md:flex flex-col border bg-white hover:border-sky-400 hover:shadow-md w-full rounded-lg transition duration-300 ease-in-out overflow-hidden"
>
  <!-- user status indicator -->
  <div class="absolute bottom-2 right-4 text-xs underlayer">
    {% include 'accounts/components/time_badge.html' %}
  </div>
  <button
    onclick="toggleAccordion('{{obj.id}}')"
    hx-get="{% url 'time_mgt_details' obj.id %}"
    hx-target=".times_details{{obj.id}}"
    class="absolute top-2 right-4 px-3 py-1 bg-sky-50 hover:bg-sky-100 rounded-md hover:text-black"
  >
    <i id="shower{{obj.id}}" class="fa-solid fa-caret-down"></i>
    <i id="hider{{obj.id}}" class="hidden fa-solid fa-caret-up"></i>
  </button>

  <!-- card info -->

  <article class="p-4 md:text-sm lg:text-md flex flex-col gap-2 justify-between">
    <h4 class="text-black font-bold">{{obj.last_name}} {{obj.first_name}}</h4>
    <span class="font-light text-xs text-sky-500">@{{obj.username}}</span>
    {% with latest=obj.id|get_last_movement %}
    <small class="border {% if latest.movement == 'entry' %}border-green-300{% else %}border-red-300{% endif %} w-fit px-2 py-[.25em] rounded-md lg:mb-0 text:xs text-black">{{latest.get_movement_display|title}}</small>
    {% endwith %}
  </article>
</div>
<!-- htmx injects current object details into the accordion -->
<div
  class="times_details{{obj.id}} accordion active_accordion{{obj.id}} hidden mx-2 p-3 sm:p-4 border bg-gray-50 rounded-xl md:overflow-y-auto"
>
     <i class="fa-solid fa-clock text-gray-300 text-9xl"></i>
    <p class="mt-4 px-4 py-2 w-fit mx-auto bg-gray-100 text-sm rounded-xl">
      Cliquez sur un utilisateur pour voir ses navettes.
    </p>
</div>

<script>

</script>
