{% if curr_obj %}
<div class="text-black text:xs" id="obj_status{{obj.id}}">
  {% if curr_obj.profile.is_onsite %}
  <p class="px-3 py-1 text-cent(e)er bg-green-200 rounded-md w-full">
    <i class="text-sm fa-solid fa-arrow-down mr-2"></i>
    Présent(e)
  </p>
  {% else %}
  <p class="px-3 py-1 text-cent(e)er bg-red-200 rounded-md w-full">
    <i class="text-sm fa-solid fa-arrow-up mr-2"></i>
    Absent(e)
  </p>
  {% endif %}
</div>
{% else %}
<div class="text-black text:xs" id="obj_status{{obj.id}}">
  {% if obj.profile.is_onsite %}
  <span class="px-3 py-1 bg-green-200 rounded-md group">
    <i class="fa-solid fa-arrow-down"></i>
    <small class="hidden group-hover:inline ml-2 text-[0.7rem]">
      Présent(e)
    </small>
  </span>
  {% else %}
  <span class="px-3 py-1 bg-red-200 rounded-md group">
    <i class="fa-solid fa-arrow-up"></i>
    <small class="hidden group-hover:inline ml-2 text-[0.7rem]"> Absent(e) </small>
  </span>
  {% endif %}
</div>
{% endif %}
