{% if curr_profile %}
<div class="text-black text:xs" id="obj_status{{obj.id}}">
  {% if curr_profile.status.id == 1 %}
  <span class="px-3 py-1 bg-green-200 rounded-md group">
    <i class="text-sm fa-solid fa-door-open lg:mr-2"></i>
    <small class="hidden lg:inline">
      Disponible
    </small>
  </span>
  {% elif curr_profile.status.id == 2 %}
  <span class="px-3 py-1 bg-amber-200 rounded-md group">
    <i class="text-sm fa-solid fa-stopwatch lg:mr-2"></i>
    <small class="hidden lg:inline">
      En reunion
    </small>
  </span>
  {% else %}
  <span class="px-3 py-1 bg-red-200 rounded-md group">
    <i class="text-sm fa-solid fa-door-closed lg:mr-2"></i>
    <small class="hidden lg:inline">
      Indisponible
    </small>
  </span>
  {% endif %}
</div>
{% else %}
<div class="text-black text:xs" id="obj_status{{obj.id}}">
  {% if obj.profile.status.id == 1 %}
  <span class="px-3 py-1 bg-green-200 rounded-md group">
    <i class="text-sm fa-solid fa-door-open"></i>
    <small class="hidden group-hover:inline ml-2 text-[0.7rem]">

      Disponible
    </small>
  </span>
  {% elif obj.profile.status.id == 2 %}
  <span class="px-3 py-1 bg-amber-200 rounded-md group">
    <i class="text-sm fa-solid fa-stopwatch"></i>
    <small class="hidden group-hover:inline ml-2 text-[0.7rem]">
      En reunion
    </small>
  </span>
  {% else %}
  <span class="px-3 py-1 bg-red-200 rounded-md group">
    <i class="text-sm fa-solid fa-door-closed"></i>
    <small class="hidden group-hover:inline ml-2 text-[0.7rem]">
      Indisponible
    </small>
  </span>
  {% endif %}
</div>
{% endif %}
