<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<div class="h-80 w-full border bg-gray-50 rounded-lg p-2">
  <canvas id="hoursChart"></canvas>
</div>

 <script>
var hosts_json = JSON.parse('{{ hosts_json|escapejs }}');
var visitHours_json = JSON.parse('{{ visit_hours_json|escapejs }}');
var apptHours_json = JSON.parse('{{ appt_hours_json|escapejs }}');

var ctx = document.getElementById('hoursChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: hosts_json.map(host => host.fields.username),
        datasets: [
            {
                label: 'Visit Hours',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                data: visitHours_json
            },
            {
                label: 'Appointment Hours',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                data: apptHours_json
            }
        ]
    },
    options: {
        scales: {
            xAxes: [{ stacked: true }],
            yAxes: [{ stacked: true }]
        }
    }
});

    </script>